@if (currentPipelineInfo$ | async) {
  <div class="orchestration-embed">
    @if (isAirflow3) {
      <p-button
        class="af3-menu-toggle"
        styleClass="p-button-sm p-button-text"
        severity="secondary"
        [icon]="airflowSidebarHidden ? 'pi pi-angle-double-right' : 'pi pi-angle-double-left'"
        [label]="(airflowSidebarHidden ? '@Show Airflow menu' : '@Hide Airflow menu') | transloco"
        (click)="toggleAirflowSidebar()"/>
    }
    <app-subsystem-iframe [delay]="600" [url]="url" [cropLeftPx]="cropLeftPx"
                          [forceTokenRefreshBeforeLoad]="isAirflow3"
                          [beforeLoad]="airflow3Prepare$"
                          [reloadOnLanguageChange]="isAirflow3"/>
  </div>
}
