<h3 class="content-block">{{ '@Dashboards' | transloco }}</h3>
@if ((dashboards$ | async); as dashboards) {
  <div class="card">
    <p-table #dt (onRowSelect)="onRowSelect($event)"
             [filterDelay]="0"
             [globalFilterFields]="['dashboardTitle', 'instanceName', 'businessProcess', 'department', 'responsibility', 'dataAnalyst', 'status']"
             [paginator]="true"
             [rowHover]="true"
             [rows]="10"
             [selectionPageOnly]="true"
             [showCurrentPageReport]="true"
             [tableStyle]="{ 'min-width': '50rem' }"
             [value]="dashboards"
             sortField="dashboardTitle"
             [stripedRows]="true"
             [sortOrder]="1"
             (onPage)="onPageChange($event)"
             dataKey="id"
             selectionMode="single">
      <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
          <h5 class="m-0">&nbsp;</h5>
          <span class="p-input-icon-left">
            <p-iconfield>
              <p-inputicon class="pi pi-search"/>
              <input (input)="applyFilterGlobal($event, 'contains')" pInputText
                     placeholder="{{'@Search' | transloco}}" type="text"/>
            </p-iconfield>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th id="dashboardTitle" pSortableColumn="dashboardTitle">{{ '@Dashboard' | transloco }}
            <p-sortIcon field="dashboardTitle"/>
          </th>
          <th id="contextName" pSortableColumn="contextName">{{ '@Data domain' | transloco }}
            <p-sortIcon field="contextName"/>
          </th>
          <th id="businessProcessHeader" pSortableColumn="businessProcess">{{ '@Business process' | transloco }}
            <p-sortIcon field="businessProcess"/>
          </th>
          <th id="departmentHeader" pSortableColumn="department">{{ '@Department' | transloco }}
            <p-sortIcon field="department"/>
          </th>
          <th id="responsibilityHeader"
              pSortableColumn="responsibility">{{ '@Professional responsibility' | transloco }}
            <p-sortIcon field="responsibility"/>
          </th>
          <th id="dataAnalystHeader" pSortableColumn="dataAnalyst">{{ '@Data analyst' | transloco }}
            <p-sortIcon field="dataAnalyst"/>
          </th>
          <th id="status" pSortableColumn="status">{{ '@Status' | transloco }}
            <p-sortIcon field="status"/>
          </th>
          <th id="actions" style="width: auto; min-width: 7rem;"></th>
        </tr>
      </ng-template>
      <ng-template let-dashboard pTemplate="body">
        <tr [pSelectableRow]="dashboard">
          <td>
            {{ dashboard.dashboardTitle }}
          </td>
          <td>
            {{ dashboard.contextName }}
          </td>
          <td>
            {{ dashboard.businessProcess }}
          </td>
          <td>
            {{ dashboard.department }}
          </td>
          <td>
            {{ dashboard.responsibility }}
          </td>
          <td>
            {{ dashboard.dataAnalyst }}
          </td>
          <td>
            {{ dashboard.status }}
          </td>
          <td>
            <p-button (click)="openDashboard(dashboard)" (keydown.enter)="openDashboard(dashboard)"
                      [pTooltip]="'@Open' | transloco"
                      tooltipPosition="top"
                      [rounded]="true"
                      [text]="true"
                      severity="info"
                      class="mr-2"
                      icon="fas fa-up-right-from-square"/>
            <p-button (click)="openInfoPanel(dashboard)" (keydown.enter)="openInfoPanel(dashboard)"
                      [pTooltip]="'@Info' | transloco"
                      tooltipPosition="top"
                      [rounded]="true"
                      [text]="true"
                      severity="help"
                      class="mr-2"
                      icon="fas fa-circle-info"/>
            <p-button (click)="editDashboard(dashboard)" (keydown.enter)="editDashboard(dashboard)"
                      [pTooltip]="'@Edit' | transloco"
                      tooltipPosition="top"
                      [rounded]="true"
                      [text]="true"
                      severity="success"
                      icon="fas fa-light fa-pen-to-square"
                      [style.display]="(dashboard.currentUserAdmin || dashboard.currentUserEditor) ? '' : 'none'"/>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9">{{ '@No dashboards found' | transloco }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}
<br/>
<p-dialog [(visible)]="editDashboardMetadataDialog"
          [modal]="true"
          class="p-fluid"
          header="{{selectedDashboard ? selectedDashboard.dashboardTitle : ''}}">
  <ng-template pTemplate="content">
    <img alt="" src="{{createImageLink(selectedDashboard)}}" style="max-width: 500px"/>
    <div class="field mb-2">
      <label for="businessProcess">{{ '@Business process' | transloco }}</label>
      <input [(ngModel)]="selectedDashboard.businessProcess" id="businessProcess" pInputText/>
    </div>
    <div class="field mb-2">
      <label for="department">{{ '@Department' | transloco }}</label>
      <input [(ngModel)]="selectedDashboard.department" id="department" pInputText/>
    </div>
    <div class="field mb-2">
      <label for="responsibility">{{ '@Professional responsibility' | transloco }}</label>
      <input [(ngModel)]="selectedDashboard.responsibility" id="responsibility" pInputText/>
    </div>
    <div class="field mb-2">
      <label for="dataAnalyst">{{ '@Data analyst' | transloco }}</label>
      <input [(ngModel)]="selectedDashboard.dataAnalyst" id="dataAnalyst" pInputText/>
    </div>
    <div class="field mb-2">
      <label for="scheduled">{{ '@Scheduled' | transloco }}</label>
      <input [(ngModel)]="selectedDashboard.scheduled" id="scheduled" pInputText/>
    </div>
    <div class="field mb-2">
      <label for="datasource">{{ '@Datasource' | transloco }}</label>
      <input [(ngModel)]="selectedDashboard.datasource" id="datasource" pInputText/>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button (click)="hideEditMetadataDialog()" (keydown)="hideEditMetadataDialog()" icon="fas fa-circle-xmark"
              [label]="'@Cancel' | transloco" pRipple severity="secondary"/>
    <p-button (click)="updateDashboard(selectedDashboard)" (keydown)="updateDashboard(selectedDashboard)"
              icon="fas fa-check" [label]="'@Save' | transloco"
              pRipple
              severity="success"/>
  </ng-template>
</p-dialog>


<p-dialog [(visible)]="viewDashboardDataDialog" [modal]="true"
          class="p-fluid" header="{{selectedDashboard ? selectedDashboard.dashboardTitle : ''}}">
  <ng-template pTemplate="content">
    <img alt="" src="{{createImageLink(selectedDashboard)}}"/>
    <div class="grid grid-cols-2">
      <div class="col">
        @if (selectedDashboard.contextName) {
          <div class="mb-2">
            <label class="p2 font-semibold m-0"
                   for="contextNameInfo">{{ '@Context name' | transloco }}:</label>
            <div
              class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              id="contextNameInfo">{{ selectedDashboard.contextName }}
            </div>
          </div>
        }

        @if (selectedDashboard.instanceName) {
          <div class="mb-2">
            <label class="p2 font-semibold m-0"
                   for="instanceNameInfo">{{ '@Instance name' | transloco }}:</label>
            <div
              class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              id="instanceNameInfo">{{ selectedDashboard.instanceName }}
            </div>
          </div>
        }

        @if (selectedDashboard.businessProcess) {
          <div class="mb-2">
            <label class="p2 font-semibold m-0"
                   for="businessProcessInfo">{{ '@Business process' | transloco }}:</label>
            <div
              class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              id="businessProcessInfo">{{ selectedDashboard.businessProcess }}
            </div>
          </div>
        }

        @if (selectedDashboard.department) {
          <div class="mb-2">
            <label class="p2 font-semibold m-0"
                   for="departmentInfo">{{ '@Department' | transloco }}:</label>
            <div
              class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              id="departmentInfo">{{ selectedDashboard.department }}
            </div>
          </div>
        }

        @if (selectedDashboard.dataAnalyst) {
          <div class="mb-2">
            <label class="p2 font-semibold m-0"
                   for="dataAnalystInfo">{{ '@Data analyst' | transloco }}:</label>
            <div
              class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              id="dataAnalystInfo">{{ selectedDashboard.dataAnalyst }}
            </div>
          </div>
        }

        @if (selectedDashboard.datasource) {
          <div class="mb-2">
            <label class="p2 font-semibold m-0"
                   for="dataSourceInfo">{{ '@Datasource' | transloco }}:</label>
            <div
              class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              id="dataSourceInfo">{{ selectedDashboard.datasource }}
            </div>
          </div>
        }

        @if (selectedDashboard.responsibility) {
          <div class="mb-2">
            <label class="p2 font-semibold m-0"
                   for="responsibilityInfo">{{ '@Professional responsibility' | transloco }}:</label>
            <div
              class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              id="responsibilityInfo">{{ selectedDashboard.responsibility }}
            </div>
          </div>
        }

      </div>
      <div class="col">
        @if (selectedDashboard.status) {
          <div class="mb-2">
            <label class="p2 font-semibold m-0"
                   for="statusInfo">{{ '@Status' | transloco }}:</label>
            <div
              class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              id="statusInfo">{{ selectedDashboard.status }}
            </div>
          </div>
        }

        @if (selectedDashboard.slug) {
          <div class="mb-2">
            <label class="p2 font-semibold m-0" for="slugInfo">{{ '@Slug' | transloco }}
              :</label>
            <div
              class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              id="slugInfo">{{ selectedDashboard.slug }}
            </div>
          </div>
        }

        @if (selectedDashboard.instanceUrl) {
          <div class="mb-2">
            <label class="p2 font-semibold m-0"
                   for="urlInfo">{{ '@Instance url' | transloco }}:</label>
            <div
              class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              id="urlInfo">{{ selectedDashboard.instanceUrl }}
            </div>
          </div>
        }

        @if (selectedDashboard.modified) {
          <div class="mb-2">
            <label class="p2 font-semibold m-0"
                   for="modifiedInfo">{{ '@Modified date' | transloco }}:</label>
            <div
              class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              id="modifiedInfo">
              <span>{{ selectedDashboard.modified | date: 'dd.MM.yyyy HH:mm:ss' }}</span>
              <span>{{ '@Never' | transloco }}</span>
            </div>
          </div>
        }

        @if (selectedDashboard.roles) {
          <div class="mb-2">
            <label class="p2 font-semibold m-0" for="rolesInfo">
              {{ '@Roles' | transloco }}:
            </label>
            <div
              class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              id="rolesInfo">
              @for (role of selectedDashboard.roles; track role) {
                <p-tag
                  icon="fas fa-tag"
                  severity="info"
                  [value]="role.name"/>
              }
            </div>
          </div>
        }
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button (click)="hideInfoPanel()" (keydown)="hideInfoPanel()" icon="fas fa-circle-xmark"
              [label]="'@Cancel' | transloco" pRipple severity="secondary"/>
  </ng-template>
</p-dialog>
