<h3 class="content-block">{{ '@Dashboards' | transloco }}</h3>
@if ((dashboards$ | async); as dashboards) {
  <div class="card">
    <p-table #dt (onRowSelect)="onRowSelect($event)"
             [filterDelay]="0"
             [globalFilterFields]="['dashboardTitle', 'instanceName', 'businessProcess', 'department', 'responsibility', 'dataAnalyst', 'status']"
             [paginator]="true"
             [rowHover]="true"
             [rows]="10"
             [selectionPageOnly]="true"
             [showCurrentPageReport]="true"
             [tableStyle]="{ 'min-width': '50rem' }"
             [value]="dashboards"
             sortField="dashboardTitle"
             [sortOrder]="1"
             (onPage)="onPageChange($event)"
             dataKey="id"
             selectionMode="single">
      <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
          <h5 class="m-0">&nbsp;</h5>
          <span class="p-input-icon-left">
            <p-iconfield>
              <p-inputicon class="pi pi-search"/>
              <input (input)="applyFilterGlobal($event, 'contains')" pInputText
                     placeholder="{{'@Search' | transloco}}" type="text"/>
            </p-iconfield>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th id="dashboardTitle" pSortableColumn="dashboardTitle">{{ '@Dashboard' | transloco }}
            <p-sortIcon field="dashboardTitle"/>
          </th>
          <th id="contextName" pSortableColumn="contextName">{{ '@Data domain' | transloco }}
            <p-sortIcon field="contextName"/>
          </th>
          <th id="businessProcessHeader" pSortableColumn="businessProcess">{{ '@Business process' | transloco }}
            <p-sortIcon field="businessProcess"/>
          </th>
          <th id="departmentHeader" pSortableColumn="department">{{ '@Department' | transloco }}
            <p-sortIcon field="department"/>
          </th>
          <th id="responsibilityHeader"
              pSortableColumn="responsibility">{{ '@Professional responsibility' | transloco }}
            <p-sortIcon field="responsibility"/>
          </th>
          <th id="dataAnalystHeader" pSortableColumn="dataAnalyst">{{ '@Data analyst' | transloco }}
            <p-sortIcon field="dataAnalyst"/>
          </th>
          <th id="status" pSortableColumn="status">{{ '@Status' | transloco }}
            <p-sortIcon field="status"/>
          </th>
          <th id="actions" style="min-width:9rem"></th>
        </tr>
      </ng-template>
      <ng-template let-dashboard pTemplate="body">
        <tr [pSelectableRow]="dashboard">
          <td>
            {{ dashboard.dashboardTitle }}
          </td>
          <td>
            {{ dashboard.contextName }}
          </td>
          <td>
            {{ dashboard.businessProcess }}
          </td>
          <td>
            {{ dashboard.department }}
          </td>
          <td>
            {{ dashboard.responsibility }}
          </td>
          <td>
            {{ dashboard.dataAnalyst }}
          </td>
          <td>
            {{ dashboard.status }}
          </td>
          <td>
            <p-button (click)="openDashboard(dashboard)"
                      [pTooltip]="'@Open' | transloco"
                      class="p-button-rounded mr-2"
                      severity="info"
                      icon="fas fa-up-right-from-square"
                      pButton
                      pRipple/>
            <p-button (click)="openInfoPanel(dashboard)"
                      [pTooltip]="'@Info' | transloco"
                      class="p-button-rounded mr-2"
                      severity="help"
                      icon="fas fa-circle-info"
                      pButton
                      pRipple/>
            <p-button (click)="editDashboard(dashboard)"
                      [pTooltip]="'@Edit' | transloco"
                      severity="success"
                      class="p-button-rounded mr-2"
                      icon="fas fa-light fa-pen-to-square"
                      [style.display]="(dashboard.currentUserAdmin || dashboard.currentUserEditor) ? '' : 'none'"
                      pButton
                      pRipple/>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9">{{ '@No dashboards found' | transloco }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}
<br/>
<p-dialog [(visible)]="editDashboardMetadataDialog"
          [modal]="true"
          [style]="{ width: '550px' }"
          header="{{selectedDashboard ? selectedDashboard.dashboardTitle : ''}}"
          class="p-fluid">
  <ng-template pTemplate="content">
    <img alt="" src="{{createImageLink(selectedDashboard)}}" style="max-width: 500px"/>
    <div class="field">
      <label for="businessProcess">{{ '@Business process' | transloco }}</label>
      <input [(ngModel)]="selectedDashboard.businessProcess" id="businessProcess" pInputText/>
    </div>
    <div class="field">
      <label for="department">{{ '@Department' | transloco }}</label>
      <input [(ngModel)]="selectedDashboard.department" id="department" pInputText/>
    </div>
    <div class="field">
      <label for="responsibility">{{ '@Professional responsibility' | transloco }}</label>
      <input [(ngModel)]="selectedDashboard.responsibility" id="responsibility" pInputText/>
    </div>
    <div class="field">
      <label for="dataAnalyst">{{ '@Data analyst' | transloco }}</label>
      <input [(ngModel)]="selectedDashboard.dataAnalyst" id="dataAnalyst" pInputText/>
    </div>
    <div class="field">
      <label for="scheduled">{{ '@Scheduled' | transloco }}</label>
      <input [(ngModel)]="selectedDashboard.scheduled" id="scheduled" pInputText/>
    </div>
    <div class="field">
      <label for="datasource">{{ '@Datasource' | transloco }}</label>
      <input [(ngModel)]="selectedDashboard.datasource" id="datasource" pInputText/>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button (click)="hideEditMetadataDialog()" class="p-button-text" icon="fas fa-circle-xmark"
              label="{{'@Cancel' | transloco}}" severity="secondary" pRipple pButton/>
    <p-button (click)="updateDashboard(selectedDashboard)"
              class="p-button-text" pRipple pButton
              icon="fas fa-check"
              label="{{'@Save' | transloco}}"/>
  </ng-template>
</p-dialog>


<p-dialog [(visible)]="viewDashboardDataDialog" [modal]="true"
          header="{{selectedDashboard ? selectedDashboard.dashboardTitle : ''}}" class="p-fluid">
  <ng-template pTemplate="content">
    <img alt="" src="{{createImageLink(selectedDashboard)}}"/>
    <div class="formgrid grid grid-cols-12 gap-4">
      <div class="field col">
        @if (selectedDashboard.contextName) {
          <label class="p2 font-semibold m-0"
                 for="contextNameInfo">{{ '@Context name' | transloco }}:</label>
          <div
            class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            id="contextNameInfo">{{ selectedDashboard.contextName }}
          </div>
        }

        @if (selectedDashboard.instanceName) {
          <label class="p2 font-semibold m-0"
                 for="instanceNameInfo">{{ '@Instance name' | transloco }}:</label>
          <div
            class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            id="instanceNameInfo">{{ selectedDashboard.instanceName }}
          </div>
        }

        @if (selectedDashboard.businessProcess) {
          <label class="p2 font-semibold m-0"
                 for="businessProcessInfo">{{ '@Business process' | transloco }}:</label>
          <div
            class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            id="businessProcessInfo">{{ selectedDashboard.businessProcess }}
          </div>
        }

        @if (selectedDashboard.department) {
          <label class="p2 font-semibold m-0"
                 for="departmentInfo">{{ '@Department' | transloco }}:</label>
          <div
            class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            id="departmentInfo">{{ selectedDashboard.department }}
          </div>
        }

        @if (selectedDashboard.dataAnalyst) {
          <label class="p2 font-semibold m-0"
                 for="dataAnalystInfo">{{ '@Data analyst' | transloco }}:</label>
          <div
            class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            id="dataAnalystInfo">{{ selectedDashboard.dataAnalyst }}
          </div>
        }

        @if (selectedDashboard.datasource) {
          <label class="p2 font-semibold m-0"
                 for="dataSourceInfo">{{ '@Datasource' | transloco }}:</label>
          <div
            class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            id="dataSourceInfo">{{ selectedDashboard.datasource }}
          </div>
        }

        @if (selectedDashboard.responsibility) {
          <label class="p2 font-semibold m-0"
                 for="responsibilityInfo">{{ '@Professional responsibility' | transloco }}:</label>
          <div
            class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            id="responsibilityInfo">{{ selectedDashboard.responsibility }}
          </div>
        }

      </div>
      <div class="field col">
        @if (selectedDashboard.status) {
          <label class="p2 font-semibold m-0"
                 for="statusInfo">{{ '@Status' | transloco }}:</label>
          <div
            class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            id="statusInfo">{{ selectedDashboard.status }}
          </div>
        }

        @if (selectedDashboard.slug) {
          <label class="p2 font-semibold m-0" for="slugInfo">{{ '@Slug' | transloco }}
            :</label>
          <div
            class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            id="slugInfo">{{ selectedDashboard.slug }}
          </div>
        }

        @if (selectedDashboard.instanceUrl) {
          <label class="p2 font-semibold m-0"
                 for="urlInfo">{{ '@Instance url' | transloco }}:</label>
          <div
            class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            id="urlInfo">{{ selectedDashboard.instanceUrl }}
          </div>
        }

        @if (selectedDashboard.modified) {
          <label class="p2 font-semibold m-0"
                 for="modifiedInfo">{{ '@Modified date' | transloco }}:</label>
          <div
            class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            id="modifiedInfo">
            <span>{{ selectedDashboard.modified | date: 'dd.MM.yyyy HH:mm:ss' }}</span>
            <span>{{ '@Never' | transloco }}</span>
          </div>
        }

        @if (selectedDashboard.roles) {
          <label class="p2 font-semibold m-0" for="rolesInfo">
            {{ '@Roles' | transloco }}:
          </label>
          <div
            class="text-base text-color bg-surface-0  p-2 border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            id="rolesInfo">
            @for (role of selectedDashboard.roles; track role) {
              <p-tag
                icon="fas fa-tag"
                severity="info"
                [value]="role.name"/>
            }
          </div>
        }
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <p-button (click)="hideInfoPanel()" class="p-button-text" icon="fas fa-circle-xmark"
              label="{{'@Cancel' | transloco}}" severity="secondary" pRipple pButton/>
  </ng-template>
</p-dialog>
