<h2 class="content-block">{{ '@Dashboard import-export' | transloco }}</h2>
<p-card>
  @if ((availableDataDomains$ | async); as dataDomains) {
    <div>
      @for (dataDomain of dataDomains | orderBy: 'data.name'; track dataDomain.data.key) {
        <div>
          @if ((dashboards$ | async); as dashboards) {
            <div>
              @if (dataDomain.data) {
                <div>
                  <h3>{{ dataDomain.data.name }}</h3>
                  <p-table (selectionChange)="onSelectionChange($event, dataDomain.data.key)"
                           [globalFilterFields]="['dashboardTitle', 'businessProcess', 'department', 'responsibility', 'dataAnalyst', 'status']"
                           [paginator]="true"
                           [rowHover]="true"
                           [rows]="50"
                           [selectionPageOnly]="true"
                           [showCurrentPageReport]="true"
                           [tableStyle]="{ 'min-width': '50rem' }"
                           [value]="filterDashboardsByContext(dashboards, dataDomain.data.key)"
                           dataKey="id"
                           selectionMode="single">
                    <ng-template pTemplate="caption">
                      <div class="flex align-items-center">
                        <p-button (click)="exportDashboards(dataDomain.data.key)"
                                  (keydown.enter)="exportDashboards(dataDomain.data.key)"
                                  [disabled]="getSelectedDashboards(dataDomain.data.key).length === 0"
                                  class="mr-2"
                                  [label]="'@Export' | transloco"
                                  [icon]="icons.ACTION_IMPORT.class"

                                  pRipple/>
                        <p-button (click)="toggleImportVisible(dataDomain.data.key)"
                                  (keydown.enter)="toggleImportVisible(dataDomain.data.key)"
                                  class="mr-2" severity="primary"
                                  [label]="'@Import' | transloco"
                                  [icon]="icons.ACTION_EXPORT.class"

                                  pRipple/>
                      </div>
                      @if (uploadVisible(dataDomain.data.key)) {
                        <p-fileUpload name="file"
                                      url="{{uploadDashboardsUrl}}{{dataDomain.data.key}}"
                                      (onBeforeSend)="onBeforeSend($event, dataDomain.data.key)"
                                      (onUpload)="onUploadCompleted($event)"
                                      (onError)="onError($event)"
                                      (onSelect)="onSelect($event)"
                                      [class]="'mt-2'"
                                      accept=".zip"
                                      [maxFileSize]="5000000000">
                          <ng-template pTemplate="header">
                            <div class="flex align-items-center ml-2">
                              <p-checkbox [binary]="true"
                                          [inputId]="'prune-checkbox-' + dataDomain.data.key"
                                          [(ngModel)]="pruneMap[dataDomain.data.key]"
                                          (onChange)="onPruneCheckboxChange($event, dataDomain.data.key)">
                              </p-checkbox>
                              <label [for]="'prune-checkbox-' + dataDomain.data.key" class="ml-2 cursor-pointer">
                                {{ '@Prune charts and datasets' | transloco }}
                              </label>
                            </div>
                          </ng-template>
                          <ng-template pTemplate="file" let-file>
                            <div class="flex align-items-center gap-2">
                              <i class="pi pi-file-zip" style="font-size: 1.5rem"></i>
                              <div>
                                <span>{{ file.name }}</span>
                                <span class="ml-2 text-sm text-color-secondary">{{ (file.size / 1024).toFixed(3) }} KB</span>
                              </div>
                            </div>
                          </ng-template>
                        </p-fileUpload>
                      }
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="width: 4rem" id="tableHeaderCheckbox">
                          <p-tableHeaderCheckbox/>
                        </th>
                        <th id="dashboardTitle" pSortableColumn="dashboardTitle">{{ '@Dashboard' | transloco }}
                          <p-sortIcon field="dashboardTitle"/>
                        </th>

                        <th id="businessProcessHeader"
                            pSortableColumn="businessProcess">{{ '@Business process' | transloco }}
                          <p-sortIcon field="businessProcess"/>
                        </th>
                        <th id="departmentHeader" pSortableColumn="department">{{ '@Department' | transloco }}
                          <p-sortIcon field="department"/>
                        </th>
                        <th id="responsibilityHeader"
                            pSortableColumn="responsibility">{{ '@Professional responsibility' | transloco }}
                          <p-sortIcon field="responsibility"/>
                        </th>
                        <th id="dataAnalystHeader" pSortableColumn="dataAnalyst">{{ '@Data analyst' | transloco }}
                          <p-sortIcon field="dataAnalyst"/>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template let-dashboard pTemplate="body">
                      <tr>
                        <td>
                          <p-tableCheckbox [value]="dashboard"/>
                        </td>
                        <td>
                          {{ dashboard.dashboardTitle }}
                        </td>

                        <td>
                          {{ dashboard.businessProcess }}
                        </td>
                        <td>
                          {{ dashboard.department }}
                        </td>
                        <td>
                          {{ dashboard.responsibility }}
                        </td>
                        <td>
                          {{ dashboard.dataAnalyst }}
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="7">{{ '@No dashboards found' | transloco }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              }
            </div>
          }
        </div>
      }
    </div>
  }
</p-card>
<p-confirmDialog #cd [style]="{width: '50vw'}">
  <ng-template pTemplate="footer">
    <p-button (click)="cd.onReject()" [icon]="icons.ACTION_CANCEL.class" [label]="'@No' | transloco"
              pRipple severity="secondary" type="button" (keydown.enter)="cd.onReject()"/>
    <p-button (click)="cd.onAccept()" [icon]="icons.ACTION_CONFIRM.class" [label]="'@Yes' | transloco"
              pRipple severity="primary" type="button" (keydown.enter)="cd.onAccept()"/>
  </ng-template>
</p-confirmDialog>
<div style="display: none">
  <app-silent-login/>
</div>
