@if (currentMyDashboardInfo$ | async) {
  <div class="grid w-full" [class]="isCommentsOpen ? 'grid-cols-[75%_25%]' : 'grid-cols-[calc(100%-25px)_25px]'">
    <div class="iframe-container" [class]="isCommentsOpen ? 'w-full' : 'col-span-1'">
      <app-subsystem-iframe [delay]="600" [url]="url"/>
    </div>

    <div
      class="comments-panel"
      [class]="isCommentsOpen ? 'w-[25%]' : 'w-[25px]'"
      [class]="isCommentsOpen ? 'comments-panel-open' : 'comments-panel-closed'"
    >
      @if (!isCommentsOpen) {
        <div (click)="toggleComments()" (keydown)="toggleComments()"
             style="cursor: pointer">{{ '@Comments' | transloco }}
        </div>
      } @else {
        <app-comments-toggle-panel (toggleComments)="toggleComments()"
                                   (pointerUrlClick)="navigateToPointerUrl($event)"
                                   class="w-full"></app-comments-toggle-panel>
      }
    </div>
  </div>
}
