@if (currentMyDashboardInfo$ | async) {
  <div #dashboardGrid class="grid w-full h-full embedded-dashboard"
       [class.resizing]="isResizing"
       [style.gridTemplateColumns]="canReadComments ? (isCommentsOpen ? commentsGridTemplate : '1fr 0px 30px') : '1fr'">
    <div class="iframe-container h-full relative">
      <app-subsystem-iframe [delay]="600" [url]="url" [switchStyleOverflow]="true"/>
      @if (isResizing) {
        <div class="absolute inset-0 z-50 bg-transparent"></div>
      }
    </div>

    @if (canReadComments) {
      <div class="resizer" [class.resizer-hidden]="!isCommentsOpen"
           (mousedown)="startResizing($event)"></div>

      <div
        class="comments-panel h-full"
        [ngClass]="isCommentsOpen ? 'mt-2 pb-1 comments-panel-open' : 'mt-1 comments-panel-closed'"
      >
        <div [hidden]="isCommentsOpen" (click)="toggleComments()" (keydown)="toggleComments()"
             style="cursor: pointer">{{ '@Comments' | transloco }}
        </div>

        <app-comments-toggle-panel [style.display]="isCommentsOpen ? 'flex' : 'none'"
                                   (toggleComments)="toggleComments()"
                                   (pointerUrlClick)="navigateToPointerUrl($event)"
                                   class="w-full h-full"></app-comments-toggle-panel>
      </div>
    }
  </div>
}
