<ng-container >
  @if ((isMobile$ | async) === false) {
    <app-side-nav-outer-toolbar title="{{appInfo.title}}">
      <router-outlet />
    </app-side-nav-outer-toolbar>
  }
  @if (isMobile$ | async) {
    <app-mobile>
      <router-outlet />
    </app-mobile>
  }
</ng-container>

@if ((businessDomain$ | async)) {
  <div style="display: none"></div>
}
@if (checkAuth) {
  <div>
    @if ((isAuthenticated$ | async)) {
      <div style="display: none"></div>
    }
  </div>
}
@if ((redirectTo$ | async)) {
}
