<ng-container >
  <app-side-nav-outer-toolbar title="{{appInfo.title}}" *ngIf="(isMobile$ | async) === false">
    <router-outlet></router-outlet>
  </app-side-nav-outer-toolbar>
  <app-mobile *ngIf="isMobile$ | async">
    <router-outlet></router-outlet>
  </app-mobile>
</ng-container>

<div *ngIf="(businessDomain$ | async)" style="display: none"></div>
<div *ngIf="checkAuth">
  <div *ngIf="(isAuthenticated$ | async)" style="display: none"></div>
</div>
<ng-container *ngIf="(redirectTo$ | async)"></ng-container>
