<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<body>
<p>Hello <span th:text="${#objects.nullSafe(AFFECTED_USER_FIRST_NAME, '_Unknown_')}"/></p>

<p>
    The administrator <span th:text="${#objects.nullSafe(FIRST_NAME_LAST_NAME_OF_USER_THAT_MADE_CHANGE, '_Unknown_')}"/>
    has adjusted your roles in HelloDATA in the business domain
    <span th:text="${#objects.nullSafe(BUSINESS_DOMAIN_NAME, '_Unknown_')}"/>. You have been assigned the following
    roles.
</p>

<ul>
    <li th:if="${BUSINESS_DOMAIN_ROLE_NAME != 'NONE'}">
        Business Domain Role <span
            th:text="${#objects.nullSafe(BUSINESS_DOMAIN_NAME, '_Unknown_') + ': ' + #objects.nullSafe(BUSINESS_DOMAIN_ROLE_NAME, '_Unknown_')}"></span>
    </li>
</ul>
<div th:each="item : ${DATA_DOMAIN_ROLES}">
    <ul th:if="${item.role.name != 'NONE'}">
        <li>
            Data Domain Role <span th:text="${item.context.name + ': ' + item.role.name}"></span>
        </li>
    </ul>
</div>

<p>Link to Business Domain
    <a th:href="${#objects.nullSafe(link, '_Unknown_')}"><span
            th:text="${#objects.nullSafe(BUSINESS_DOMAIN_NAME, '_Unknown_')}"/></a>
</p>

<p>Kind regards<br/>HelloDATA</p>

</body>
</html>