<h2 class="content-block">{{ '@Faq management' | transloco }}</h2>
@if ((selectedLanguage$ | async); as selectedLanguage) {
  <div class="card">
    <p-toolbar class="mb-6 gap-2">
      <ng-template pTemplate="left">
        <p-button (click)="createFaq()" severity="success" icon="fas fa-circle-plus" id="createFaqButton"
                  [label]="'@Create' | transloco" pRipple (keydown.enter)="createFaq()"></p-button>
      </ng-template>
    </p-toolbar>
    @if ((faq$ | async); as faq) {
      <div>
        @if (faq.length > 0) {
          <p-table
            #dt
            [paginator]="true"
            [rows]="10"
            [rowHover]="true"
            [stripedRows]="true"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            [value]="faq"
            dataKey="id"
            [expandedRowKeys]="expandedRows"
          >
            <ng-template pTemplate="header">
              <tr>
                <th id="faq-title" scope="col">
                  {{ '@Title' | transloco }}
                </th>
                <th id="faq-dataDomain" scope="col">
                  {{ '@Data domain' | transloco }}
                </th>
                <th id="faq-actions" scope="col" style="width: 10rem"></th>
              </tr>
            </ng-template>
            <ng-template let-faqItem pTemplate="body" let-expanded="expanded">
              <tr>
                <td>{{ getTitle(faqItem, selectedLanguage) }}</td>
                <td>
                  @if (faqItem.contextName) {
                    {{ faqItem.contextName }}
                  } @else {
                    <span class="italic">{{ '@All Data Domains' | transloco }}</span>
                  }
                </td>
                <td>
                  <p-button (click)="editFaq(faqItem)" (keydown.enter)="editFaq(faqItem)"
                            [pTooltip]="'@Edit' | transloco"
                            tooltipPosition="top"
                            severity="success"
                            [rounded]="true"
                            [text]="true"
                            class="mr-2"
                            icon="fas fa-light fa-pen-to-square"
                            id="{{'editFaq_' + faqItem.title}}"/>
                  <p-button (click)="showFaqDeletionPopup(faqItem)" (keydown.enter)="showFaqDeletionPopup(faqItem)"
                            [pTooltip]="'@Delete' | transloco"
                            tooltipPosition="top"
                            severity="danger"
                            [rounded]="true"
                            [text]="true"
                            class="mr-2"
                            icon="fas fa-trash"
                            id="{{'deleteFaq_' + faqItem.title}}"/>
                  <p-button type="button" pRipple [pRowToggler]="faqItem"
                            [text]="true" [rounded]="true" [plain]="true"
                            [pTooltip]="'@Details' | transloco"
                            tooltipPosition="top"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
                </td>
              </tr>
            </ng-template>
            <ng-template let-faqItem pTemplate="expandedrow">
              <tr>
                <td [attr.colspan]="3">
                  <div class="p-3">
                    <table class="faq-translations-table">
                      <thead>
                      <tr>
                        <th scope="col" style="width: 8%">{{ '@Language' | transloco }}</th>
                        <th scope="col" style="width: 20%">{{ '@Title' | transloco }}</th>
                        <th scope="col">{{ '@Message' | transloco }}</th>
                      </tr>
                      </thead>
                      <tbody>
                        @for (translation of getTranslations(faqItem); track translation.locale) {
                          <tr>
                            <td><strong>{{ translation.displayLocale }}</strong></td>
                            <td>{{ translation.title }}</td>
                            <td>
                              <div class="faq-message-content" [innerHTML]="translation.message"></div>
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="3">{{ '@No FAQ entries found' | transloco }}</td>
              </tr>
            </ng-template>
          </p-table>
        }
      </div>
    }
  </div>
}
<br/>
<app-delete-faq-popup [action]="getDeletionAction()"/>
