@if (roleToBeDeleted$ | async) {
  <div></div>
}
<p-confirmDialog #cd [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <h3>{{ '@Delete role' | transloco }}</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button (click)="cd.onReject()" icon="fas fa-circle-xmark" label="{{'@Cancel' | transloco}}" pButton
    type="button" severity="secondary"></p-button>
    <p-button (click)="cd.onAccept()" severity="danger" icon="fas fa-trash" label="{{'@Delete' | transloco}}"
      pButton
    type="button"></p-button>
  </ng-template>
</p-confirmDialog>
