<div *ngIf="(dashboards$ | async) as dashboards">
  <p-table #dt
           [globalFilterFields]="['instanceName','dashboardTitle']"
           [paginator]="true"
           [rowHover]="true"
           [rows]="5"
           [rowsPerPageOptions]="[5,10, 25, 50, 100]"
           [showCurrentPageReport]="true"
           [tableStyle]="{ 'min-width': '20rem' }"
           [value]="dashboards"
           (onPage)="onPageChange($event)"
           stateStorage="session"
           stateKey="home-dashboards-table"
           dataKey="id">
    <ng-template pTemplate="caption">
      <div class="flex">
          <span class="p-input-icon-left ml-auto">
            <p-iconfield>
              <p-inputicon class="pi pi-search"></p-inputicon>
              <input pInputText #textInput [(ngModel)]="filterValue" (input)="onFilter($event, dt)"
                     placeholder="{{'@Search' | transloco}}" type="text"/>
            </p-iconfield>
          </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th id="icon"></th>
        <th id="dataDomain" pSortableColumn="instanceName">{{ '@Data domain' | transloco }}
          <p-sortIcon field="instanceName"></p-sortIcon>
        </th>
        <th id="dashboard" pSortableColumn="dashboardTitle">{{ '@Dashboard' | transloco }}
          <p-sortIcon field="dashboardTitle"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template let-dashboard pTemplate="body">
      <tr style="cursor: pointer">
        <td>
          <i class="fas fa-light fa-chart-line"></i>
        </td>
        <td>
          {{ dashboard.contextName }}
        </td>
        <td>
          <a (click)="navigateToDashboard(dashboard)">
            {{ dashboard.dashboardTitle }}
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
