<div class="card">
  @if ((editedExternalDashboard$ | async); as editedExternalDashboard) {
    <form [formGroup]="externalDashboardForm"
          class="form">
      <div class="field grid grid-cols-12 gap-4">
        <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="title">{{ '@Title' | transloco }}</label>
        <div class="col-span-12 md:col-span-10">
          <input
            class="opacity-80 text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            formControlName="title" id="title" required
            type="text">
          @if (!externalDashboardForm.controls['title'].valid && externalDashboardForm.controls['title'].dirty) {
            <small
              class="p-error">{{ '@Title is invalid' | transloco }}</small>
          }
        </div>
      </div>
      <div class="field grid grid-cols-12 gap-4">
        <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="url">{{ 'Url' }}</label>
        <div class="col-span-12 md:col-span-10">
          <input
            class="opacity-80 text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            formControlName="url" id="url" required
            type="text">
          @if (!externalDashboardForm.controls['url'].valid && externalDashboardForm.controls['url'].dirty) {
            <small
              class="p-error">{{ '@Url is invalid' | transloco }}</small>
          }
        </div>
      </div>
      @if ((availableDataDomains$ | async); as availableDataDomains) {
        <div class="field grid grid-cols-12 gap-4">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0"
                 for="dataDomain">{{ '@Data domain' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <p-select [options]="availableDataDomains"
                      formControlName="dataDomain"
                      id="dataDomain"
                      optionValue="data.key"
                      placeholder="Select a Data Domain"/>
            <br/>
            @if (!externalDashboardForm.controls['dataDomain'].valid && externalDashboardForm.controls['dataDomain'].dirty) {
              <small
                class="p-error">{{ '@Data domain is invalid' | transloco }}</small>
            }
          </div>
        </div>
      }
      <div class="field grid grid-cols-12 gap-4">
        <label class="col-span-12 mb-2 md:col-span-2 md:mb-0"
               for="businessProcess">{{ '@Business process' | transloco }}</label>
        <div class="col-span-12 md:col-span-10">
          <input
            class="opacity-80 text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            formControlName="businessProcess" id="businessProcess"
            type="text">
        </div>
      </div>
      <div class="field grid grid-cols-12 gap-4">
        <label class="col-span-12 mb-2 md:col-span-2 md:mb-0"
               for="businessProcess">{{ '@Department' | transloco }}</label>
        <div class="col-span-12 md:col-span-10">
          <input
            class="opacity-80 text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            formControlName="department" id="department"
            type="text">
        </div>
      </div>
      <div class="field grid grid-cols-12 gap-4">
        <label class="col-span-12 mb-2 md:col-span-2 md:mb-0"
               for="responsibility">{{ '@Professional responsibility' | transloco }}</label>
        <div class="col-span-12 md:col-span-10">
          <input
            class="opacity-80 text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            formControlName="responsibility" id="responsibility"
            type="text">
        </div>
      </div>
      <div class="field grid grid-cols-12 gap-4">
        <label class="col-span-12 mb-2 md:col-span-2 md:mb-0"
               for="dataAnalyst">{{ '@Data analyst' | transloco }}</label>
        <div class="col-span-12 md:col-span-10">
          <input
            class="opacity-80 text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            formControlName="dataAnalyst" id="dataAnalyst"
            type="text">
        </div>
      </div>
      <div class="field grid grid-cols-12 gap-4">
        <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="scheduled">{{ '@Scheduled' | transloco }}</label>
        <div class="col-span-12 md:col-span-10">
          <input
            class="opacity-80 text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            formControlName="scheduled" id="scheduled"
            type="text">
        </div>
      </div>
      <div class="field grid grid-cols-12 gap-4">
        <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="datasource">{{ '@Datasource' | transloco }}</label>
        <div class="col-span-12 md:col-span-10">
          <input
            class="opacity-80 text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            formControlName="datasource" id="datasource"
            type="text">
        </div>
      </div>
      <p-toolbar>
        <div class="p-toolbar-group-start">
          <p-button (click)="cancel()" [pTooltip]="'@Cancel' | transloco" class="mr-2"
                    icon="fas fa-arrow-left" severity="secondary" pRipple pButton/>
        </div>
        <div class="p-toolbar-group-end">
          @if (externalDashboardForm.controls['id'].getRawValue() !== '') {
            <p-button (click)="deleteExternalDashboard(editedExternalDashboard)"
                      severity="danger" pRipple pButton
                      icon="fa-regular fa-trash-can"
                      label="{{'@Delete' | transloco}}"
                      class="mr-2 p-button-warning mr-2"/>
          }
          <p-button (click)="saveChanges(editedExternalDashboard)"
                    [disabled]="externalDashboardForm.invalid||!externalDashboardForm.dirty"
                    class="mr-2" pRipple pButton
                    icon="fas fa-arrow-up-right-from-square"
                    label="{{'@Save' | transloco}}"
                    severity="success"/>
        </div>
      </p-toolbar>
    </form>
  }

</div>

<p-confirmDialog #cd [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <h3>{{ '@Delete external dashboard' | transloco }}</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button (click)="cd.onReject()" icon="fas fa-circle-xmark" label="{{'@Cancel' | transloco}}"
              type="button" severity="secondary" pRipple pButton/>
    <p-button (click)="cd.onAccept()" severity="danger" icon="fas fa-trash" label="{{'@Delete' | transloco}}"
              pRipple pButton type="button"/>
  </ng-template>
</p-confirmDialog>
