<h2 class="content-block">{{ '@Documentation management' | transloco }}</h2>
<div *ngIf="documentation$ | async"></div>
<div class="card">
  <form *ngIf="(documentation$ | async) as documentation" [formGroup]="documentationForm">
    <p-tabView *ngIf="(supportedLanguages$ | async) as supportedLanguages">
      <ng-template ngFor let-language [ngForOf]="supportedLanguages">
        <p-tabPanel [header]="language.slice(0, 2).toUpperCase()">
          <p-editor [formControl]="getText(language)"
                    [style]="{ height: '725px' }">
            <ng-template pTemplate="header">
       <span class="ql-formats">
          <select class="ql-header">
              <option value="1">Heading</option>
              <option value="2">Subheading</option>
              <option selected>Normal</option>
          </select>
          <select class="ql-font">
              <option selected>Sans Serif</option>
              <option value="serif">Serif</option>
              <option value="monospace">Monospace</option>
          </select>
      </span>
              <span class="ql-formats">
          <button aria-label="Bold" class="ql-bold" type="button"></button>
          <button aria-label="Italic" class="ql-italic" type="button"></button>
          <button aria-label="Underline" class="ql-underline" type="button"></button>
      </span>
              <span class="ql-formats">
          <select class="ql-color"></select>
          <select class="ql-background"></select>
      </span>
              <span class="ql-formats">
          <button aria-label="Ordered List" class="ql-list" type="button" value="ordered"></button>
          <button aria-label="Unordered List" class="ql-list" type="button" value="bullet"></button>
          <select class="ql-align">
              <option selected></option>
              <option value="center">center</option>
              <option value="right">right</option>
              <option value="justify">justify</option>
          </select>
      </span>
              <span class="ql-formats">
          <button aria-label="Insert Link" class="ql-link" type="button"></button>
          <button aria-label="Insert Code Block" class="ql-code-block" type="button"></button>
      </span>
              <span class="ql-formats">
          <button aria-label="Remove Styles" class="ql-clean" type="button"></button>
      </span>
            </ng-template>
          </p-editor>
        </p-tabPanel>
      </ng-template>
    </p-tabView>

    <p-toolbar>
      <div class="p-toolbar-group-start">&nbsp;</div>
      <div class="p-toolbar-group-end">
        <p-button (click)="createOrUpdateDocumentation(documentation)"
                  icon="fas fa-floppy-disk"
                  label="{{'@Save' | transloco}}"
                  styleClass="p-button-success mr-2"></p-button>
      </div>
    </p-toolbar>
  </form>

</div>
