<h2 class="content-block">{{ '@Documentation management' | transloco }}</h2>
<div class="card">
  @if ((initForm$ | async); as result) {
    <form [formGroup]="documentationForm">
      @if ((supportedLanguages$ | async); as supportedLanguages) {
        <p-tabs [value]="0">
          <p-tablist>
            @for (lang of supportedLanguages; track $index) {
              <p-tab [value]="$index">
                <div class="flex items-center gap-2">
                  <span class="font-bold whitespace-nowrap m-0 {{notFilled(lang) ? 'not-filled' : ''}}">
                    {{ lang.slice(0, 2).toUpperCase() }}
                  </span>
                </div>
              </p-tab>
            }
          </p-tablist>
          <p-tabpanels>
            @for (language of supportedLanguages; track $index) {
              <p-tabpanel [value]="$index">
                <p-editor [formControl]="getText(language)"/>
              </p-tabpanel>
            }
          </p-tabpanels>
        </p-tabs>
      }
      <p-toolbar>
        <div class="p-toolbar-group-start">&nbsp;</div>
        @if ((defaultLanguage$ | async); as defaultLanguage) {
          <div class="p-toolbar-group-end">
            <p-button (click)="createOrUpdateDocumentation(result.doc)"
                      [disabled]="!isAtLeastDefaultLanguageFilled(defaultLanguage)"
                      icon="fas fa-floppy-disk" pRipple pButton
                      label="{{'@Save' | transloco}}"
                      severity="success"/>
          </div>
        }
      </p-toolbar>
    </form>
  }

</div>
