<h2 class="content-block">{{ '@Documentation management' | transloco }}</h2>
<div class="card">
  @if ((initForm$ | async); as result) {
    <form [formGroup]="documentationForm">
      @if ((supportedLanguages$ | async); as supportedLanguages) {
        <p-tabs [value]="0">
          <p-tablist>
            @for (lang of supportedLanguages; track $index) {
              <p-tab [value]="$index">
                <div class="flex align-items-center gap-2">
                  <span class="font-bold white-space-nowrap m-0 {{notFilled(lang) ? 'not-filled' : ''}}">
                    {{ lang.slice(0, 2).toUpperCase() }}
                  </span>
                </div>
              </p-tab>
            }
          </p-tablist>
          <p-tabpanels>
            @for (language of supportedLanguages; track $index) {
              <p-tabpanel [value]="$index">
                <p-editor [formControl]="getText(language)">
                  <ng-template pTemplate="header">
                    <span class="ql-formats">
                      <select class="ql-header">
                        <option value="1">Heading</option>
                        <option value="2">Subheading</option>
                        <option selected>Normal</option>
                      </select>
                      <select class="ql-font">
                        <option selected>Sans Serif</option>
                        <option value="serif">Serif</option>
                        <option value="monospace">Monospace</option>
                      </select>
                    </span>
                    <span class="ql-formats">
                      <button aria-label="Bold" class="ql-bold" type="button"></button>
                      <button aria-label="Italic" class="ql-italic" type="button"></button>
                      <button aria-label="Underline" class="ql-underline" type="button"></button>
                    </span>
                    <span class="ql-formats">
                      <select class="ql-color"></select>
                      <select class="ql-background"></select>
                    </span>
                    <span class="ql-formats">
                      <button aria-label="Ordered List" class="ql-list" type="button" value="ordered"></button>
                      <button aria-label="Unordered List" class="ql-list" type="button" value="bullet"></button>
                      <select class="ql-align">
                        <option selected></option>
                        <option value="center">center</option>
                        <option value="right">right</option>
                        <option value="justify">justify</option>
                      </select>
                    </span>
                    <span class="ql-formats">
                      <button aria-label="Insert Link" class="ql-link" type="button"></button>
                      <button aria-label="Insert Code Block" class="ql-code-block" type="button"></button>
                    </span>
                    <span class="ql-formats">
                      <button aria-label="Remove Styles" class="ql-clean" type="button"></button>
                    </span>
                  </ng-template>
                </p-editor>
              </p-tabpanel>
            }
          </p-tabpanels>
        </p-tabs>
      }
      <p-toolbar>
        <div class="p-toolbar-group-start">&nbsp;</div>
        @if ((defaultLanguage$ | async); as defaultLanguage) {
          <div class="p-toolbar-group-end">
            <p-button (click)="createOrUpdateDocumentation(result.doc)"
                      [disabled]="!isAtLeastDefaultLanguageFilled(defaultLanguage)"
                      icon="fas fa-floppy-disk"
                      label="{{'@Save' | transloco}}"
                      severity="success"/>
          </div>
        }
      </p-toolbar>
    </form>
  }

</div>
