<div class="card" *ngIf="(paramContextKey$ | async) as contextKey">
  <div *ngIf="(queries$ | async) as queries">
    <p-table #dt
             [lazy]="true"
             (onLazyLoad)="loadQueries($event, contextKey)"
             [loading]="(queriesLoading$ | async) ?? false"
             [value]="queries"
             [paginator]="true"
             [rowHover]="true"
             [rowsPerPageOptions]="[5, 10, 20]"
             [rows]="10"
             [totalRecords]="queriesTotalRecords"
             dataKey="id"
             id="queries_table_{{ contextKey }}"
             stateKey="portal-queries-table-{{ contextKey }}"
             stateStorage="session"
             styleClass="p-datatable-striped"
             [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>Time</th>
          <th>Duration</th>
          <th>Tab name</th>
          <th>Database</th>
          <th>Schema</th>
          <th>Tables</th>
          <th>User</th>
          <th>SQL</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-query>
        <tr [ngSwitch]="query.status">
          <td>
            <span *ngSwitchCase="'failed'" [pTooltip]="query.status" class="align-items-end pi pi-exclamation-circle"
                  style="color: red"></span>
            <span *ngSwitchCase="'success'" [pTooltip]="query.status" class="align-items-end pi pi-check-circle"
                  style="color: green"></span>
          </td>
          <td>{{ formatChangedOn(query.changedOn) }}</td>
          <td>
            <p-tag *ngSwitchCase="'failed'" severity="danger"
                   [value]="formatDuration(query.endTime - query.startTime)"></p-tag>
            <p-tag *ngSwitchCase="'success'" severity="success"
                   [value]="formatDuration(query.endTime - query.startTime)"></p-tag>
          </td>
          <td>{{ query.tabName }}</td>
          <td>{{ query.databaseName }}</td>
          <td>{{ query.schema }}</td>
          <td>
            <ng-container *ngFor="let table of JSON.parse(query.sqlTables); let last = last">
              {{ table.table }}<span *ngIf="!last">, </span>
            </ng-container>
          </td>
          <td>{{ query.userFullname }}</td>
          <td>
            <textarea
              variant="filled"
              [disabled]="true"
              rows="5"
              cols="30"
              pInputTextarea
              [(ngModel)]="query.sql">
            </textarea>
          </td>
        </tr>

      </ng-template>
    </p-table>
  </div>
</div>
