@if (frameUrl) {
  <div [ngStyle]=style()
       style="height:100%; width: 100%; max-width: 100%; overflow-x: hidden; position: relative; box-sizing: border-box; margin-bottom: 50px;">
    <iframe #iframe id="subsystem-iframe"
            [src]="frameUrl | safe : 'resourceUrl'"
            style="border:none;height:100%;width: 100%;display:block;"
            [style.width]="cropLeftPx() ? 'calc(100% + ' + cropLeftPx() + 'px)' : '100%'"
            [style.maxWidth]="cropLeftPx() ? 'none' : null"
            [style.marginLeft.px]="cropLeftPx() ? -cropLeftPx() : null"
            allow="fullscreen"
            title="subsystem iframe"></iframe>
  </div>
}
