<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head><title>Commentaire publié</title></head>
<body>
<p>Bonjour <span th:text="${#objects.nullSafe(AFFECTED_USER_FIRST_NAME, '_Inconnu_')}"/></p>

<p>
    Le reviewer <span th:text="${#objects.nullSafe(FIRST_NAME_LAST_NAME_OF_USER_THAT_MADE_CHANGE, '_Inconnu_')}"/>
    a publié votre commentaire sur le tableau de bord
    <span th:text="${#objects.nullSafe(DASHBOARD_NAME, '_Inconnu_')}"/> dans le domaine métier
    <span th:text="${#objects.nullSafe(BUSINESS_DOMAIN_NAME, '_Inconnu_')}"/>.
</p>

<p><strong>Votre commentaire :</strong></p>
<blockquote th:text="${#objects.nullSafe(COMMENT_TEXT, '')}"></blockquote>

<p>Lien vers le domaine métier
    <a th:href="${#objects.nullSafe(link, '_Inconnu_')}"><span
            th:text="${#objects.nullSafe(BUSINESS_DOMAIN_NAME, '_Inconnu_')}"/></a>
</p>

<p>Cordialement<br/>HelloDATA</p>

</body>
</html>
