<div *ngIf="(currentUserPermissions$ | async) as permissions" id="summaryComponent">
  <p-drawer [(visible)]="overlaySidebarVisible" position="right" class="w-30rem">
    <ng-template pTemplate="header">
      <div class="font-semibold" id="summaryHeader"> {{ '@Summary header' | transloco }}</div>
    </ng-template>
    <ng-template pTemplate="content">
      <p-fieldset *ngIf="permissions.length !== 0" id="statusHeader" legend="Status">
        <p-accordion>
          <p-accordion-panel>
            <p-accordion-header>Data pipelines</p-accordion-header>
            <p-accordion-content>
              <p-dataView [value]="(pipelines$ | async)!" emptyMessage="{{ '@No data found' | transloco }}">
                <ng-template let-pipelines pTemplate="list">
                  <div *ngFor="let pipeline of pipelines; let first = first" class="p-grid grid">
                    <div class="col-8">
                      <!--                  <button (click)="navigateToDetails(pipeline)" class="p-button-link"-->
                      <!--                          label="{{ pipeline.id | truncate: 30}}" placeholder="Left"-->
                      <!--                          pButton tooltipPosition="left"-->
                      <!--                          pTooltip="{{ pipeline.description ? pipeline.description : pipeline.id }}"-->
                      <!--                          type="button">-->
                      <!--                  </button>-->
                      <label pTooltip="{{ pipeline.description ? pipeline.description : pipeline.id }}"
                             placeholder="Left"
                             style="font-size: 0.9rem; font-weight: 400"
                             tooltipPosition="left">{{ pipeline.id | truncate: 20 }}</label>
                    </div>
                    <div class="col-3" style="font-size: 0.6rem; margin-top: 0.4rem">
                  <span
                    *ngIf="pipeline?.lastInstance?.startDate">{{ pipeline.lastInstance.startDate * 1000 | date: 'dd.MM.yyyy HH:mm:ss' }}</span>
                    </div>
                    <div *ngIf="pipeline?.lastInstance" [ngSwitch]="pipeline.lastInstance.state" class="col-1">
                  <span *ngSwitchCase="'queued'" [pTooltip]="pipeline.lastInstance.state"
                        class="align-items-end pi pi-hourglass"
                        style="color: gray"></span>
                      <span *ngSwitchCase="'running'" [pTooltip]="pipeline.lastInstance.state"
                            class="align-items-end pi pi-spin pi-cog"
                            style="color: green"></span>
                      <span *ngSwitchCase="'success'" [pTooltip]="pipeline.lastInstance.state"
                            class="align-items-end pi pi-check-circle"
                            style="color: green"></span>
                      <span *ngSwitchCase="'failed'" [pTooltip]="pipeline.lastInstance.state"
                            class="align-items-end pi pi-exclamation-circle"
                            style="color: red"></span>
                      <span *ngSwitchDefault [pTooltip]="'unknown'" class="align-items-end pi pi-question-circle"
                            style="color: gray"></span>
                    </div>
                  </div>
                </ng-template>
              </p-dataView>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </p-fieldset>

      <p-fieldset *ngIf="(documentation$ | async) as documentation">
        <ng-template pTemplate="header">
          <div>
            <span>{{ '@Documentation' | transloco }}</span>
            <p-button (click)="editDocumentation()" *ngIf="permissions | contains: 'DOCUMENTATION_MANAGEMENT'"
                      [pTooltip]="'@Edit' | transloco"
                      severity="success" icon="fas fa-light fa-pen-to-square" class="p-button-rounded"
                      id="editDocumentationBtnOvrl" pButton pRipple>
            </p-button>
          </div>
        </ng-template>
        <div *ngIf="(defaultLanguage$ | async) as defaultLanguage">
          <div *ngIf="(selectedLanguage$ | async) as selectedLanguage">
            <p-editor [disabled]="true" [ngModel]="getText(documentation, selectedLanguage.code, defaultLanguage)"
                      [readonly]="true"
                      class="p-editor-readonly">
              <p-header hidden></p-header>
            </p-editor>
          </div>
        </div>
      </p-fieldset>

      <p-fieldset *ngIf="permissions.length !== 0" id="subscriptionsHeader" legend="{{'@Subscriptions' | transloco}}">
        <app-subscriptions></app-subscriptions>
      </p-fieldset>

      <p-fieldset *ngIf="(storeSize$ | async) as storeSize" id="storageSizeHeader"
                  legend="{{'@Storage size' | transloco}}">
        <div>
          <ul *ngFor="let storageSize of storeSize.storageSizes">
            <li>
              {{ storageSize.name + ' ' }}
              <b>{{ storageSize.usedSize }}</b>
            </li>
          </ul>
        </div>
      </p-fieldset>

      <p-fieldset *ngIf="(storeSize$ | async) as storeSize" id="dbSizeHeader" legend="{{'@Database size' | transloco}}">
        <div>
          <ul *ngFor="let databaseSize of storeSize.databaseSizes">
            <li>
              {{ databaseSize.name + ' ' }}
              <b>{{ databaseSize.usedSize }}</b>
            </li>
          </ul>
        </div>
      </p-fieldset>

      <app-footer [appInfo]="appInfo"></app-footer>


    </ng-template>
  </p-drawer>

  <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 4rem)' }">
    <div (click)="openOverlaySidebar()" [ngClass]="summarySidebarVisible ? '' : 'vertical-writing-mode'"
         class="summary-header">
      {{ '@Summary header' | transloco }}
    </div>
  </p-scrollPanel>
</div>

