<h2 class="content-block">{{ '@Users management' | transloco }}</h2>
<div class="card">
  <h3>{{ '@Invite user' | transloco }}</h3>
  <form [formGroup]="inviteForm" autocomplete="off">
    <div class="field grid grid-cols-12 gap-4">
      <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="user">{{ '@E-mail' | transloco }}</label>
      <div class="col-span-12 md:col-span-10">
        <span class="p-fluid border-surface rounded-border appearance-none outline-0 focus:border-primary w-100"
              style="width: 100%; display: grid grid-cols-12 gap-4">
          <p-autoComplete (completeMethod)="filterMails($event)" (onSelect)="onSelectEmail($event)" class="w-100 mb-1"
                          [suggestions]="suggestedAdUsers" field="email" formControlName="user" id="user"
                          name="user">
            <ng-template let-user pTemplate="item">
              <div class="flex items-center gap-1">
                <p [pTooltip]="user.label" class="glow top-menu-item" tooltipPosition="bottom">{{ user.label }}</p>
              </div>
            </ng-template>
          </p-autoComplete>
        </span>
        @if (!inviteForm.controls['user'].valid && inviteForm.controls['user'].dirty) {
          <small
            class="p-error">{{ '@Email is invalid' | transloco }}</small>
        }
      </div>
    </div>
    <div class="field grid grid-cols-12 gap-4">
      <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="firstName">{{ '@First name' | transloco }}</label>
      <div class="col-span-12 md:col-span-10">
        <input [readOnly]="true"
               class="opacity-80 text-base text-color bg-surface-0 mb-1 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
               formControlName="firstName"
               id="firstName"
               name="firstName"
               pInputText
               type="text">
        @if (!inviteForm.controls['firstName'].valid && inviteForm.controls['firstName'].dirty) {
          <small
            class="p-error">{{ '@First name is invalid' | transloco }}</small>
        }
      </div>
    </div>
    <div class="field grid grid-cols-12 gap-4">
      <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="lastName">{{ '@Last name' | transloco }}</label>
      <div class="col-span-12 md:col-span-10">
        <input [readOnly]="true"
               class="opacity-80 text-base text-color bg-surface-0  p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
               formControlName="lastName"
               id="lastName"
               name="lastName"
               pInputText
               type="text">
        @if (!inviteForm.controls['lastName'].valid && inviteForm.controls['lastName'].dirty) {
          <small
            class="p-error">{{ '@Last name is invalid' | transloco }}</small>
        }
      </div>
    </div>
    <p-toolbar>
      <div class="p-toolbar-group-start">
      </div>
      <div class="p-toolbar-group-end">
        <p-button (click)="createUser()"
                  [disabled]="inviteForm.invalid"
                  icon="fas fa-floppy-disk"
                  label="{{'@Set permissions' | transloco}}"
                  severity="success" pRipple pButton/>
      </div>
    </p-toolbar>
  </form>
</div>

<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <h3>{{ '@Users' | transloco }}</h3>

    </div>
    @if ((syncStatus$ | async); as syncStatus) {
      <div class="p-toolbar-group-end">
        <p-button (click)="syncUsers()" [disabled]="syncStatus === 'STARTED'" [loading]="syncStatus === 'STARTED'"
                  [pTooltip]="'@Sync Users Title' | transloco"
                  icon="fas fa-arrows-rotate"
                  label="{{(syncStatus === 'STARTED' ? '@Sync in progress' : '@Sync Users') | transloco }}"
                  severity="success" pRipple pButton/>
      </div>
    }
  </p-toolbar>

  <p-table
    #dt
    (onLazyLoad)="loadUsers($event)"
    [globalFilterFields]="['email','firstName','lastName','lastAccess']"
    [lazy]="true"
    [loading]="(usersLoading$ | async) ?? false"
    [paginator]="true"
    [rowHover]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [rows]="10"
    [tableStyle]="{ 'min-width': '75rem' }"
    [totalRecords]="usersTotalRecords"
    [value]="users$ | async"
    dataKey="id"
    id="userTable"
    stateKey="portal-users-table"
    stateStorage="session"
    class="p-datatable-striped"
    sortField="email"
    [sortOrder]="1"
  >
    <ng-template pTemplate="caption">
      <div>
        <div id="searchBox">
          <span class="p-input-icon-left p-ml-auto">
            <p-iconfield>
              <p-inputicon class="pi pi-search"/>
              <input #textInput (input)="dt.filterGlobal(filterValue, 'contains')" [(ngModel)]="filterValue" pInputText
                     placeholder="{{'@Search' | transloco}}" type="text"/>
            </p-iconfield>
          </span>
        </div>
      </div>
      <br><br><br>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th id="emailHeader" pSortableColumn="email" style="max-width:5rem">
          {{ '@E-mail' | transloco }}
          <p-sortIcon field="email"/>
        </th>
        <th id="firstNameHeader" pSortableColumn="firstName" style="max-width:5rem">
          {{ '@First name' | transloco }}
          <p-sortIcon field="firstName"/>
        </th>
        <th id="lastNameHeader" pSortableColumn="lastName" style="max-width:5rem">
          {{ '@Last name' | transloco }}
          <p-sortIcon field="lastName"/>
        </th>
        <th id="superuser" pSortableColumn="superuser">
          {{ '@Superuser' | transloco }}
          <p-sortIcon field="superuser"/>
        </th>
        <th id="enabled" pSortableColumn="enabled">
          {{ '@Enabled' | transloco }}
          <p-sortIcon field="enabled"/>
        </th>
        <th id="lastAccess" pSortableColumn="lastAccess" style="width:15rem">
          {{ '@Last login' | transloco }}
          <p-sortIcon field="lastAccess"/>
        </th>
        <th id="actions" style="width:12rem"></th>
      </tr>
    </ng-template>
    <ng-template let-user pTemplate="body">
      <tr>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.firstName }}
        </td>
        <td>
          {{ user.lastName }}
        </td>
        <td>
          @if (user.superuser) {
            <div>
              <i class="fas fa-check"></i>
            </div>
          }
        </td>
        <td>
          @if (user.enabled) {
            <div>
              <i class="fas fa-check"></i>
            </div>
          }
        </td>
        <td>
          @if (user.lastAccess) {
            <span>{{ user.lastAccess | date: 'dd.MM.yyyy HH:mm:ss' }}</span>
          }
          @if (user.lastAccess === null) {
            <span>{{ '@Never' | transloco }}</span>
          }
        </td>
        @if ((loggedInUser$ | async); as loggedInUser) {
          <td>
            <p-button (click)="editUser(user)"
                      severity="success"
                      class="p-button-rounded mr-2"
                      icon="fas fa-light fa-pen-to-square"
                      pButton
                      pRipple
                      pTooltip="{{'@Edit' | transloco}}"/>
            @if (!user.superuser && !user.enabled && user.email !== loggedInUser.email) {
              <p-button (click)="enableUser(user)"
                        severity="success"
                        class="p-button-rounded mr-2"
                        icon="fas fa-circle-plus" pButton pRipple
                        pTooltip="{{'@Enable' | transloco}}"/>
            }
            @if (!user.superuser && user.enabled && user.email !== loggedInUser.email) {
              <p-button (click)="disableUser(user)"
                        severity="warn"
                        class="p-button-rounded mr-2"
                        icon="fas fa-circle-xmark" pButton pRipple
                        pTooltip="{{'@Disable' | transloco}}"/>
            }
            @if (!user.superuser && user.email !== loggedInUser.email) {
              <p-button (click)="showUserDeletionPopup(user)"
                        severity="danger"
                        class="p-button-rounded mr-2"
                        icon="fas fa-trash" pButton pRipple
                        pTooltip="{{'@Delete' | transloco}}"/>
            }
          </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>
<br/>
<app-actions-user-popup/>
