<div class="comment-item border rounded-md px-2 py-2"
     [class.bg-white]="comment().status === CommentStatus.PUBLISHED"
     [class.bg-gray-100]="comment().status === CommentStatus.DRAFT">
  <p class="comment-text p-1">{{ comment().text }}</p>
  <div class="comment-footer p-1">
    <small class="comment-meta">
      {{ comment().author }} – {{ comment().createdDate | date:'short' }}@if (comment().lastEditedDate) {
      (edited)
    }
    </small>
    <div class="comment-actions">
      <span class="status-dot"
            [class.published]="comment().status === CommentStatus.PUBLISHED"
            [class.draft]="comment().status === CommentStatus.DRAFT"
            [pTooltip]="'@' + comment().status | transloco"
            tooltipPosition="top"></span>
      @if ((isSuperuser$ | async) && comment().status === CommentStatus.DRAFT) {
        <button class="publish-btn"
                (click)="publishComment()"
                [pTooltip]="'@Publish' | transloco"
                tooltipPosition="top">
          <i class="fa-solid fa-cloud-arrow-up"></i>
        </button>
      }
      @if ((isSuperuser$ | async) && comment().status === CommentStatus.PUBLISHED) {
        <button class="unpublish-btn"
                (click)="unpublishComment()"
                [pTooltip]="'@Unpublish' | transloco"
                tooltipPosition="top">
          <i class="fa-solid fa-cloud-arrow-down"></i>
        </button>
      }
      <button class="info-btn" (click)="toggleDetails()">
        <i class="fa fa-info-circle"></i>
      </button>
      @if (canDelete()) {
        <button class="delete-btn" (click)="deleteComment()" [pTooltip]="'@Delete' | transloco" tooltipPosition="top">
          <i class="fa fa-trash"></i>
        </button>
      }
    </div>
  </div>
  @if (expanded) {
    <div class="comment-details p-1">
      <small>
        <div><strong>{{ '@Status' | transloco }}:</strong> {{ '@' + comment().status | transloco }}</div>
        <div><strong>{{ '@Created date' | transloco }}:</strong> {{ comment().createdDate | date:'medium' }}</div>
        @if (comment().publishedDate) {
          <div><strong>{{ '@Published' | transloco }}
            :</strong> {{ comment().publishedDate | date:'medium' }}@if (comment().publishedBy) {
            ({{ comment().publishedBy }})
          }</div>
        }
        @if (comment().lastEditedDate) {
          <div><strong>{{ '@Last edited' | transloco }}
            :</strong> {{ comment().lastEditedDate | date:'medium' }}@if (comment().lastEditedBy) {
            ({{ comment().lastEditedBy }})
          }</div>
        }
      </small>
    </div>
  }
</div>

