<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head><title>Comment deleted</title></head>
<body>
<p>Hello <span th:text="${#objects.nullSafe(AFFECTED_USER_FIRST_NAME, '_Unknown_')}"/></p>

<p>
    <span th:text="${#objects.nullSafe(FIRST_NAME_LAST_NAME_OF_USER_THAT_MADE_CHANGE, '_Unknown_')}"/>
    has deleted your comment on dashboard
    <span th:text="${#objects.nullSafe(DASHBOARD_NAME, '_Unknown_')}"/> in the business domain
    <span th:text="${#objects.nullSafe(BUSINESS_DOMAIN_NAME, '_Unknown_')}"/>.
</p>

<p><strong>Your comment:</strong></p>
<blockquote th:text="${#objects.nullSafe(COMMENT_TEXT, '')}"></blockquote>

<p th:if="${COMMENT_DELETION_REASON != null and !COMMENT_DELETION_REASON.isEmpty()}"><strong>Reason for
    deletion:</strong></p>
<blockquote th:if="${COMMENT_DELETION_REASON != null and !COMMENT_DELETION_REASON.isEmpty()}"
            th:text="${COMMENT_DELETION_REASON}"></blockquote>

<p>Link to Business Domain
    <a th:href="${#objects.nullSafe(link, '_Unknown_')}"><span
            th:text="${#objects.nullSafe(BUSINESS_DOMAIN_NAME, '_Unknown_')}"/></a>
</p>

<p>Kind regards<br/>HelloDATA</p>

</body>
</html>
