@if (selectUserForPopup$ | async; as userForPopup) {
  <p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
      <h3>{{ getActionTranslationKey(userForPopup) + ' user' | transloco }}</h3>
    </ng-template>
    {{ confirmAction(userForPopup) }}
    <ng-template pTemplate="footer">
      <p-button (click)="cd.onReject()" icon="fas fa-circle-xmark" [label]="'@Cancel' | transloco"
                type="button" severity="secondary" pRipple/>
      <p-button (click)="cd.onAccept()" pRipple
                [severity]="getButtonTypeForAction(userForPopup)"
                [label]="getActionTranslationKey(userForPopup) | transloco"
                type="button"/>
    </ng-template>
  </p-confirmDialog>
}
