@if (selectUserForPopup$ | async; as userForPopup) {
  <p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
      <h3>{{ getActionTranslationKey(userForPopup) + ' user' | transloco }}</h3>
    </ng-template>
    {{ confirmAction(userForPopup) }}
    <ng-template pTemplate="footer">
      <p-button (click)="cd.onReject()" [icon]="icons.ACTION_CANCEL.class" [label]="'@Cancel' | transloco"
                type="button" severity="secondary" pRipple (keydown.enter)="cd.onReject()"/>
      <p-button (click)="cd.onAccept()" pRipple (keydown.enter)="cd.onAccept()"
                [severity]="getButtonTypeForAction(userForPopup)"
                [label]="getActionTranslationKey(userForPopup) | transloco"
                type="button"/>
    </ng-template>
  </p-confirmDialog>
}
