<div class="sidebar close" id="appSidebar">
  <div [pTooltip]="'@HelloDATA' | transloco" class="logo-details" tooltipPosition="bottom">
    <img alt="logo" src="/assets/img/hd.png" style="cursor: pointer" (click)="navigateHome()"
         (keydown)="navigateHome()"/>
    <span class="logo_name">{{ '@HelloDATA' | transloco }}</span>
  </div>
  @if ((navItems$ | async); as navItems) {
    <ul class="nav-links">
      @for (item of navItems; track item.id) {
        <li>
          <a class="flex flex-col items-center justify-center first-level-item" (click)="openWindow(item)">
            <span [class]="item.icon" class="p-menuitem-icon text-center" style="font-size: 2rem"></span>
            <span class="text-center" style="font-size: 0.6rem; font-weight: 300">{{ item.label | transloco }}</span>
          </a>
          @if (item.items && item.items.length) {
            <ul class="second-level-menu">
              @for (sub of item.items; track sub.id) {
                <li>
                  <a class="flex items-center" (click)="openWindow(sub)">
                    @if (sub.icon) {
                      <span [class]="sub.icon" class="p-menuitem-icon"></span>
                    }
                    <span class="ml-2">{{ sub.label | transloco }}</span>
                    @if (sub.items && sub.items.length) {
                      <i class="pi pi-angle-right ml-auto text-primary"></i>
                    }
                  </a>
                  @if (sub.items && sub.items.length) {
                    <ul class="third-level-menu">
                      @for (third of sub.items; track third.id) {
                        <li>
                          <a class="flex items-center" (click)="openWindow(third)">
                            @if (third.icon) {
                              <span [class]="third.icon" class="p-menuitem-icon"></span>
                            }
                            <span class="ml-2">{{ third.label | transloco }}</span>
                          </a>
                        </li>
                      }
                    </ul>
                  }
                </li>
              }
            </ul>
          }
        </li>
      }
    </ul>
  }

</div>


<section class="content-section">
  <app-header [title]="title()"/>
  <div class="grid [grid-template-columns:repeat(11,minmax(0,1fr))_30px]">
    <div class="col-span-11 h-[calc(100vh-70px)] overflow-y-scroll pl-1" id="mainContentDiv">
      <ng-content/>
    </div>

    @if (hasMinimalRequiredPermissions$ | async) {
      <div class="right-panel w-[30px] right-panel-close">
        <app-summary/>
      </div>
    }
  </div>
</section>

<p-toast/>
<app-unsaved-changes-dialog/>

