<div class="sidebar close">
  <div [pTooltip]="'@HelloDATA' | transloco" class="logo-details" tooltipPosition="bottom">
    <img alt="logo" routerLink="/home" src="/assets/img/hd.png" style="cursor: pointer"/>
    <span class="logo_name">{{ '@HelloDATA' | transloco }}</span>
  </div>
  <ul *ngIf="(navItems$ | async) as navItems" class="nav-links">
    <ng-template [ngForOf]="navItems" let-i="index" let-item ngFor>
      <li>
        <a *ngIf="item.routerLink" [id]="item.id" [routerLink]="item.routerLink"
           matomoCategory="Click"
           matomoAction="Sidebar Navigation"
           matomoName="{{item.text}}"
           [matomoTracker]="['click']"
        >
          <i [ngClass]="item.icon"></i>
          <span class="link_name">{{ item.text | transloco }}</span>
        </a>
        <a *ngIf="!item.routerLink && item.items && item.items.length > 0" [attr.href]="item.url"
           [attr.target]="item.target" [id]="item.id"
           [matomoTracker]="['click']"
           matomoCategory="Click"
           matomoAction="Sidebar Navigation"
           matomoName="{{item.text}}">
          <i [ngClass]="item.icon"></i>
          <span class="link_name">{{ item.text | transloco }}</span>
        </a>
        <ul *ngIf="item.items && item.items.length > 0" class="second-level-menu">
          <ng-template [ngForOf]="item.items" let-i="index" let-last="last" let-subItem ngFor>
            <li>
              <a *ngIf="subItem.routerLink" [id]="subItem.id" [routerLink]="subItem.routerLink"
                 [matomoTracker]="['click']"
                 matomoCategory="Click"
                 matomoAction="Sidebar Navigation"
                 matomoName="{{item.text}}">
                <span class="link_name">{{ subItem.text | transloco }}</span>
                <i *ngIf="subItem.items" class='fas fa-angle-right'></i>
              </a>
              <a *ngIf="!subItem.routerLink" [attr.href]="subItem.url" [attr.target]="subItem.target" [id]="subItem.id"
                 [matomoTracker]="['click']"
                 matomoCategory="Click"
                 matomoAction="Sidebar Navigation"
                 matomoName="{{item.text}}">
                <span class="link_name">{{ subItem.text | transloco }}</span>
                <i *ngIf="subItem.items && subItem.items.length > 0" class='fas fa-angle-right'></i>
              </a>
              <ul *ngIf="subItem.items && subItem.items.length > 0" class="third-level-menu">
                <ng-template [ngForOf]="subItem.items" let-i="index" let-subSubItem ngFor>
                  <li>
                    <a *ngIf="subSubItem.routerLink" [id]="subSubItem.id" [routerLink]="subSubItem.routerLink"
                       [matomoTracker]="['click']"
                       matomoCategory="Click"
                       matomoAction="Sidebar Navigation"
                       matomoName="{{subSubItem.text}}">
                      <span class="link_name">{{ subSubItem.text | transloco }}</span>
                    </a>
                    <a *ngIf="!subSubItem.routerLink" [attr.href]="subSubItem.url" [attr.target]="subSubItem.target"
                       [id]="subSubItem.id"
                       [matomoTracker]="['click']"
                       matomoCategory="Click"
                       matomoAction="Sidebar Navigation"
                       matomoName="{{subSubItem.text}}">
                      <span class="link_name">{{ subSubItem.text | transloco }}</span>
                    </a>
                  </li>
                </ng-template>
              </ul>
            </li>
          </ng-template>
        </ul>
      </li>
    </ng-template>
  </ul>
</div>


<section class="content-section">
  <app-header
    [title]="title">
  </app-header>
  <div class="grid">
    <div [ngClass]="'col'" [style]="{height: 'calc(100vh - 6rem)', 'overflow-y': 'scroll'}" id="mainContentDiv">
      <ng-content ng-style="width: 100%"></ng-content>
      <p-scrollTop [style]="{position: 'fixed', bottom: '2rem', right: '2rem'}" [threshold]="10" icon="fas fa-arrow-up"
                   target="parent"></p-scrollTop>
    </div>
    <div *ngIf="selectCurrentUserPermissionsLoaded$" [ngClass]="['col-fixed', 'right-panel-close']"
         [ngStyle]="{'width': '30px'}" class="right-panel">
      <app-summary></app-summary>
    </div>
  </div>

</section>

<p-toast></p-toast>
<app-unsaved-changes-dialog></app-unsaved-changes-dialog>

