@if (users().length > 0) {
  <p-table
    #dt
    [paginator]="false"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'width': '100%' }"
    [value]="users()"
    dataKey="username"
    [expandedRowKeys]="expandedRows"
    class="p-datatable-striped"
    style="overflow-x: auto; display: block;"
  >
    <ng-template pTemplate="header">
      <tr>
        <th id="username">
          {{ '@Username' | transloco }}
        </th>
        <th id="email">
          {{ '@Email' | transloco }}
        </th>
        <th id="firstName">
          {{ '@First name' | transloco }}
        </th>
        <th id="lastName">
          {{ '@Last name' | transloco }}
        </th>
        <th id="roles" style="width: 3rem"></th>
      </tr>
    </ng-template>
    <ng-template let-user pTemplate="body" let-expanded="expanded">
      <tr>
        <td>
          {{ user.username }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.first_name }}
        </td>
        <td>
          {{ user.last_name }}
        </td>
        <td>
          <p-button type="button" pRipple [pRowToggler]="user"
                    [text]="true" [rounded]="true" [plain]="true"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
        </td>
      </tr>
    </ng-template>
    <ng-template let-user pTemplate="expandedrow">
      <tr>
        <td [attr.colspan]="5">
          <div class="p-3">
            <strong>{{ '@Roles' | transloco }}:</strong>
            <div class="flex flex-wrap gap-1 mt-2">
              @for (role of user.roles; track role) {
                <p-tag icon="fas fa-tag" severity="info" value="{{role.name}}"/>
              }
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
