<div class="card">
  @if ((editedFaq$ | async); as editedFaq) {
    <form [formGroup]="faqForm">
      <h5>{{ '@Faq' | transloco }}</h5>
      @if (editedFaq.createdDate) {
        <div class="field grid grid-cols-12 gap-4">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="createdDate">{{ '@Created date' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="opacity-40 text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              disabled
              id="createdDate"
              type="text"
              value="{{editedFaq.createdDate | date: 'dd.MM.yyyy HH:mm:ss'}}">
          </div>
        </div>
      }
      @if (editedFaq.createdDate) {
        <div class="field grid grid-cols-12 gap-4">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="createdBy">{{ '@Created by' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="opacity-40 text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              disabled
              id="createdBy"
              type="text"
              value="{{editedFaq.createdBy}}">
          </div>
        </div>
      }
      @if (editedFaq.modifiedDate) {
        <div class="field grid grid-cols-12 gap-4">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="modifiedDate">{{ '@Modified date' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="opacity-40 text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              disabled
              id="modifiedDate"
              type="text"
              value="{{editedFaq.modifiedDate | date: 'dd.MM.yyyy HH:mm:ss'}}">
          </div>
        </div>
      }
      @if (editedFaq.modifiedBy) {
        <div class="field grid grid-cols-12 gap-4">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="createdBy">{{ '@Modified by' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full opacity-40"
              disabled
              id="modifiedBy"
              type="text"
              value="{{editedFaq.modifiedBy}}">
          </div>
        </div>
      }
      @if ((availableDataDomains$ | async); as availableDataDomains) {
        <div class="field grid grid-cols-12 gap-4">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="dataDomainKey">{{ '@Data domain' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <p-select [options]="availableDataDomains"
                      formControlName="dataDomain"
                      id="dataDomainKey"
                      optionLabel="label"
                      optionValue="key"/>
            <br/>
          </div>
        </div>
      }
      @if ((supportedLanguages$ | async); as supportedLanguages) {
        <p-tabs [value]="0">
          <p-tablist>
            @for (lang of supportedLanguages; track $index) {
              <p-tab [value]="$index">
                <div class="flex items-center gap-2">
                  <span class="font-bold whitespace-nowrap m-0 {{notFilled(lang) ? 'not-filled' : ''}}">
                    {{ getHeaderNameWithStatus(lang) }}
                  </span>
                </div>
              </p-tab>
            }
          </p-tablist>
          <p-tabpanels>
            @for (language of supportedLanguages; track $index) {
              <p-tabpanel [value]="$index">
                <div class="field grid grid-cols-12 gap-4">
                  <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="title">{{ '@Title' | transloco }}</label>
                  <div class="col-span-12 md:col-span-10">
                    <input
                      [formControl]="getTitle(language)"
                      class="text-base text-color bg-surface-0 dark:bg-surface-900 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
                      id="title"
                      type="text">
                    @if (getTitle(language)?.invalid && getTitle(language)?.dirty) {
                      <small class="p-error block">
                        {{ '@Value has minimum length' | transloco: {min: titleMinLenght} }}
                      </small>
                    }
                  </div>
                </div>
                <p-editor [formControl]="getMessage(language)"
                          id="faqMessage"/>
              </p-tabpanel>
            }
          </p-tabpanels>
        </p-tabs>
      }
      <p-toolbar>
        <div class="p-toolbar-group-start">
          <p-button (click)="navigateToFaqList()" [pTooltip]="'@Cancel' | transloco" class="mr-2"
                    icon="fas fa-arrow-left" severity="secondary"/>
        </div>
        @if ((defaultLanguage$ | async); as defaultLanguage) {
          <div class="p-toolbar-group-end">
            <p-button (click)="saveFaq(editedFaq)"
                      [disabled]="!isAtLeastDefaultLanguageFilled(defaultLanguage)"
                      icon="fas fa-floppy-disk"
                      class="mr-2"
                      id="saveFaqButton"
                      label="{{'@Save' | transloco}}"
                      severity="success"/>
            @if (editedFaq.id) {
              <p-button (click)="openDeletePopup(editedFaq)" icon="fas fa-trash"
                        label="{{'@Delete' | transloco}}" severity="danger"/>
            }
          </div>
        }
      </p-toolbar>
    </form>
  }
</div>
<app-delete-faq-popup [action]="getDeletionAction()"/>
