<div *ngIf="(announcements$ | async) as announcements">
  <ng-container *ngIf="announcements.length > 0; else emptyData">
    <div *ngFor="let announcement of announcements" class="card">
      <p-toolbar>
        <div class="p-toolbar-group-start">
          <i class="fas fa-circle-info"></i>
        </div>
        <div class="p-toolbar-group-center" style="width: 65%">
          <p-editor [(ngModel)]="announcement.message" [disabled]="true" [readonly]="true" [style]="{width: '100%'}">
            <p-header hidden></p-header>
          </p-editor>
        </div>
        <div class="p-toolbar-group-end">
          <div class="published-date" *ngIf="announcement.publishedDate">[{{'@Published date' | transloco}} {{announcement.publishedDate | date: 'dd.MM.yyyy, HH:mm:ss'}}]</div>
        </div>
      </p-toolbar>
    </div>

  </ng-container>
  <ng-template #emptyData>
    <!-- Observable is an empty array -->
    <p class="m-2">{{'@No data found' | transloco}}</p>
  </ng-template>
</div>
