<div class="comments-panel">
  <div class="close-btn-container">
    <button class="close-btn"
            [pTooltip]="'@Close comments panel' | transloco"
            tooltipPosition="bottom"
            (click)="toggleComments.emit()">
      <i [ngClass]="icons.ACTION_FORWARD.class" aria-hidden="true"></i>
    </button>
  </div>
  <app-comments-feed class="comments-feed-wrapper" [isOpen]="isOpen()"
                     (pointerUrlClick)="pointerUrlClick.emit($event)"></app-comments-feed>
</div>
