/**
 * Copyright © 2024, Kanton Bern
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *     * Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the name of the <organization> nor the
 *       names of its contributors may be used to endorse or promote products
 *       derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
 * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
 * DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
 * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
$background-color: #ffffff;
$background-color-hover: var(--surface-hover);
$menu-item-text-color: #000000;
$content-text-color: #11101d;


body {
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: $background-color;
  z-index: 100;
  transition: all 0.5s ease;
  -webkit-box-shadow: 1px 1px 5px -2px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 1px 5px -2px rgba(66, 68, 90, 1);
  box-shadow: 1px 1px 5px -2px rgba(66, 68, 90, 1);
}

.sidebar.close {
  width: 77px;
  z-index: 200;
}

.sidebar .logo-details {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 7px;

  img {
    width: 55px;
  }
}

.sidebar .logo-details i {
  font-size: 30px;
  color: $menu-item-text-color;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: $menu-item-text-color;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

//new menu start

p-tieredmenu > div {
  position: absolute !important;
  width: 100% !important;
  border: none !important;
}

p-tieredmenu > div > p-tieredmenusub {
  position: absolute !important;
}

p-tieredmenu {
  border: none;
  width: auto !important;
}

p-tieredmenu {
  padding: 0;
}

p-tieredmenu > div > p-tieredmenusub > ul {
  padding-left: 4px;
}

p-tieredmenu > div > p-tieredmenusub > ul > li {
  padding-top: 2px;
  padding-bottom: 10px;
}

.p-tieredmenu-submenu {
  width: auto !important;
  min-width: unset !important;
  white-space: nowrap !important;
}

p-tieredmenu .p-menuitem-link {
  width: 100%;
  display: inline-block;
}


p-tieredmenusub p-tieredmenusub ul li div a {
  padding: 3px 3px 3px 0;
}

p-tieredmenusub p-tieredmenusub ul li div a span {
  margin-right: 0.8rem;
  margin-left: 0;
  font-size: 1.1rem;
  font-weight: 300;
}

// new menu end

.sidebar .nav-links {
  height: 100%;
  overflow: auto;
  margin-top: 0;
}

.sidebar.close .nav-links {
  overflow: visible;
  padding-left: 0;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar.close > .nav-links > li:hover {
  color: var(--text-color);
  background-color: var(--surface-hover);
  border-radius: 3px !important;
}

.sidebar.close > .nav-links > li > a {
  padding-bottom: 10px;
}

.sidebar .nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .icon-link {
  display: block
}

.sidebar .nav-links li i {
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: $menu-item-text-color;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: $menu-item-text-color;
  transition: all 0.4s ease;
  overflow-wrap: break-word;
}

.sidebar.close .nav-links > li > a {
  display: block;
  text-align: center;
  line-height: 6px;
  cursor: pointer;
}

.sidebar.close .nav-links li a .link_name {
  //opacity: 0;
  pointer-events: none;
  font-size: 10px;
}

.content-section {
  top: -8px;
  position: relative;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.sidebar.close ~ .content-section {
  left: 70px;
  width: calc(100% - 63px);
}

.home-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.content-section .home-content .bx-menu,
.content-section .home-content .text {
  color: $content-text-color;
  font-size: 35px;
}

.content-section .home-content .bx-menu {
  cursor: pointer;
  margin-right: 10px;
}

.content-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 240px;
  }
  .sidebar.close {
    width: 78px;
  }
  .sidebar .profile-details {
    width: 240px;
  }
  .sidebar.close .profile-details {
    background: none;
  }
  .sidebar.close .profile-details {
    width: 78px;
  }
  .content-section {
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.close ~ .content-section {
    left: 78px;
    width: calc(100% - 78px);
  }
}
