cloudbeaver_data
logs/
/smtp4dev-data/
/plugins/
/dags/
/default_data_domain/plugins/
/base/airflow/plugins/
/base/dags/
/base/plugins/
/base/smtp4dev-data/database.db
/base/shared/Default_Data_Domain/dags/dbt_run/
/base/shared/Default_Data_Domain/files/
/base/shared/Default_Data_Domain/docs/compiled/showcase_tierstatistik/
/base/shared/Default_Data_Domain/docs/