@if (availableDataDomains$ | async) {
}
<!-- Top Bar -->
<div class="w-full bg-white border-surface border-b fixed top-0 left-0 z-50 flex items-center justify-between px-4"
     style="height: 4rem;">
  <div class="flex items-center">
    <p-button type="button" severity="secondary" (keydown.enter)="showDashboardMenu = true"
              (click)="showDashboardMenu = true"
              aria-label="Open menu">
      <i class="pi pi-bars text-2xl" style="color: black"></i>
    </p-button>
  </div>

  <div class="flex-1 flex items-center justify-center">
    @if ((selectedDataDomain$ | async); as selectedDataDomain) {
      <span>
        <a (click)="showDataDomainMenu = true" style="cursor: pointer; font-size: 0.9rem"
           class="self-end layout-topbar-button">
          <span class="pl-2">{{ selectedDataDomain.name | transloco }}</span>
          <i class="fas fa-chevron-down p-1"></i>
        </a>
      </span>
    }
  </div>

  <div class="flex items-center">
    <p-button pRipple
              type="button" severity="secondary"
              aria-label="User Profile">
      <i class="pi pi-user text-2xl" (click)="showUserMenu = true" style="color: black"
         (keydown.enter)="showUserMenu = true"></i>
    </p-button>
  </div>
</div>

<!--Dashboard menu-->
<p-drawer
  [(visible)]="showDashboardMenu"
  position="left"
  [baseZIndex]="10000"
  [header]="'@Select a Dashboard' | transloco">
  @if (groupedDashboards$ | async; as groupedDashboards) {
    <div class="flex flex-col gap-4 text-surface-900 dark:text-surface-0">
      @for (context of groupedDashboards.keys(); track context) {
        <div class="font-bold text-sm text-gray-600 mb-1">{{ context }}</div>
        @for (dash of groupedDashboards.get(context); track dash) {
          <a class="cursor-pointer hover:underline ml-2 text-black"
             (click)="openDashboard(dash)">
            {{ dash.dashboardTitle }}
          </a>
          <hr class="my-1 border-t border-surface"/>
        }
      }
    </div>
  }
</p-drawer>

<!--User menu-->
<p-drawer
  [(visible)]="showUserMenu"
  position="top"
  [baseZIndex]="10000"
  [style]="{'height': 'auto'}">
  <ng-template pTemplate="header">
    @if ((languages$ | async); as languages) {
      <span class="mr-4 top-menu-item">
        @for (item of supportedLanguages; track item; let i = $index; let last = $last) {
          <a style="cursor: pointer" [ngClass]="{'selected-language': item.selected}"
             (click)="onLanguageChange(item.code)">
            {{ item.label }}
          </a>
          @if (!last) {
            <span>|</span>
          }
        }
      </span>
    }
  </ng-template>
  <div class="flex flex-col gap-4 text-surface-900 dark:text-surface-0 p-3">
    <hr class="m-0 border-t border-surface"/>
    <a (click)="navigateToProfile()"
       class="cursor-pointer hover:underline"
       style="color: black;">
      {{ '@Profile' | transloco }}
    </a>

    <hr class="m-0 border-t border-surface"/>

    <a (click)="logout()"
       class="cursor-pointer hover:underline"
       style="color: black;">
      {{ '@Logout' | transloco }}
    </a>

    <hr class="m-0 border-t border-surface"/>

    <a (click)="navigateToHome()">{{ '@HelloDATA' | transloco }}</a>
    <a href="{{openSourceDataPlatformUrl}}" rel="noopener" target="_blank" style="font-size: 0.9em;">
      OpenSource Data Platform  {{ appInfo.currentYear }}
    </a>

    <a href="{{licenseUrl}}" rel="noopener" target="_blank" style="font-size: 0.9em;">License</a>
    <a href="{{githubUrl}}" rel="noopener" target="_blank" style="font-size: 0.9em;">GitHub</a>
    <a href="{{versionLink}}" rel="noopener" target="_blank" style="font-size: 0.9em; color: black">
      <b>{{ '@Version' | transloco }}:</b>{{ ' ' }}{{ appInfo.buildInfo }}
    </a>
  </div>
</p-drawer>

<!--Data Domain menu-->
<p-drawer
  [(visible)]="showDataDomainMenu"
  position="top"
  [modal]="true"
  [baseZIndex]="10000"
  [style]="{'height': 'auto'}"
  [header]="'@Select a Data Domain' | transloco">
  <div class="flex flex-col gap-4 text-surface-900 dark:text-surface-0 p-3">
    <hr class="m-0 border-t border-surface"/>
    @for (item of dataDomainSelectionItems; track item) {
      <a class="cursor-pointer hover:underline"
         style="color: black;"
         (click)="onDataDomainClicked(item)">
        {{ item.label | transloco }}
      </a>
      <hr class="m-0 border-t border-surface"/>
    }
  </div>
</p-drawer>

<div class="mobile-content-wrapper">
  <div
    [style]="{'height':'100vh', 'padding-top': '4rem', 'overflow-y': 'auto', 'overflow-x': 'hidden', 'box-sizing': 'border-box'}"
    id="mainContentDiv">
    <ng-content/>
  </div>
</div>


<!--<p-toast></p-toast>-->
<!--<app-unsaved-changes-dialog></app-unsaved-changes-dialog>-->
