
<p-table [paginator]="true"
         [rowHover]="true"
         [rows]="5"
         [showCurrentPageReport]="true"
         [tableStyle]="{ 'min-width': '20rem' }"
         [value]="dataMarts$ | async"
         dataKey="id">
  <ng-template pTemplate="header">
    <tr>
      <th id="iconHeader"></th>
      <th id="dataDomain" pSortableColumn="domain">{{'@Data domain' | transloco}}
        <p-sortIcon field="domain"></p-sortIcon>
      </th>
      <th id="name" pSortableColumn="name">{{'@Data Mart' | transloco}}
        <p-sortIcon field="name"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template let-datamart pTemplate="body">
    <tr>
      <td>
        <i class="fas fa-light fa-store"></i>
      </td>
      <td>
        {{datamart.label}}
      </td>
      <td>
        <a routerLink="{{createLink(datamart)}}">{{ '@DM Viewer' | transloco }}</a>
      </td>
    </tr>
  </ng-template>
</p-table>
