@if ((headerInfo$ | async); as selectedResource) {
  <h2 class="content-block">
    {{ 'workspace: ' }}
    @if (selectedAppInfo$ | async) {
      <span>
        <a href="{{selectedResourceUrl}}"
           rel="noopener" target="_blank">{{ selectedResource.instanceName }}</a>
        {{ '; module type: ' + selectedResource.moduleType + '; api version: ' + selectedResource.apiVersion }}
      </span>
    }
  </h2>
}

@if ((resources$ | async); as resources) {
  <div class="card">
    <div class="grid grid-cols-12 gap-4">
      @for (item of resources; track item) {
        <div class="col-span-2">
          <div (click)="navigateToSelectedResource(item)"
               class="cursor-pointer p-8 bg-white flex flex-col border-2 border-transparent hover:border-primary transition-colors duration-300 justify-center items-center shadow"
               pRipple>
            <table aria-describedby="selected workspace">
              <tr>
                <th id="item"></th>
              </tr>
              <tr>
                <td style="text-align: center; padding: 5px; font-size: 1em">
                  {{ item.kind.replace('hellodata/', '') }}<br>
                </td>
              </tr>
            </table>
          </div>
        </div>
      }
    </div>
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-button (click)="cancel()" [pTooltip]="'@Cancel' | transloco" class="mr-2" icon="fas fa-arrow-left"
                  severity="secondary" pButton pRipple/>
      </div>
    </p-toolbar>
  </div>
}


@if ((selectedResource$ | async); as selectedResource) {
  <div class="card">
    @switch (selectedResource.kind) {
      @case ('hellodata/Dashboards') {
        <p-fieldset legend="{{ selectedResource.kind.replace('hellodata/', '') }}">
          <app-selected-workspace-dashboards
            [dashboards]="selectedResource.data"
            [instanceName]="selectedResource.instanceName"/>
        </p-fieldset>
      }
      @case ('hellodata/Roles') {
        <p-fieldset legend="{{ selectedResource.kind.replace('hellodata/', '') }}">
          <app-selected-workspace-roles [roles]="selectedResource.data"/>
        </p-fieldset>
      }
      @case ('hellodata/Permissions') {
        <p-fieldset legend="{{ selectedResource.kind.replace('hellodata/', '') }}">
          <app-selected-workspace-permissions [permissions]="selectedResource.data"/>
        </p-fieldset>
      }
      @case ('hellodata/Users') {
        <p-fieldset legend="{{ selectedResource.kind.replace('hellodata/', '') }}">
          <app-selected-workspace-users [users]="selectedResource.data"/>
        </p-fieldset>
      }
      @case ('hellodata/Pipelines') {
        <p-fieldset legend="{{ selectedResource.kind.replace('hellodata/', '') }}">
          <app-selected-workspace-pipelines
            [instanceName]="selectedResource.instanceName"
            [pipelines]="selectedResource.data"/>
        </p-fieldset>
      }
      @default {
        <div>
          component missing for: {{ selectedResource.kind }}
        </div>
      }
    }
  </div>
}
