<h2 *ngIf="(headerInfo$ | async) as selectedResource" class="content-block">
  {{ 'workspace: ' }}
  <span *ngIf="selectedAppInfo$ | async">
    <a href="{{selectedResourceUrl}}"
       rel="noopener" target="_blank">{{ selectedResource.instanceName }}</a>
    {{ '; module type: ' + selectedResource.moduleType + '; api version: ' + selectedResource.apiVersion }}
  </span>
</h2>

<div *ngIf="(resources$ | async) as resources" class="card">
  <div class="grid">
    <div *ngFor="let item of resources" class="col-2">
      <div (click)="navigateToSelectedResource(item)"
           class="cursor-pointer p-5 bg-white flex flex-column border-2 border-transparent hover:border-primary transition-colors transition-duration-300 justify-content-center align-items-center shadow-2"
           pRipple>
        <table aria-describedby="selected workspace">
          <tr>
            <th id="item"></th>
          </tr>
          <tr>
            <td style="text-align: center; padding: 5px; font-size: 1em">
              {{ item.kind.replace('hellodata/', '') }}<br>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <p-button (click)="cancel()" [pTooltip]="'@Cancel' | transloco" class="mr-2" icon="fas fa-arrow-left"
                severity="secondary" />
    </div>
  </p-toolbar>
</div>


<div *ngIf="(selectedResource$ | async) as selectedResource" class="card">
  <div [ngSwitch]="selectedResource.kind">
    <p-fieldset legend="{{selectedResource.kind.replace('hellodata/', '')}}">
      <app-selected-workspace-dashboards *ngSwitchCase="'hellodata/Dashboards'"
                                         [dashboards]="selectedResource.data"
                                         [instanceName]="selectedResource.instanceName" />

      <app-selected-workspace-roles *ngSwitchCase="'hellodata/Roles'"
                                    [roles]="selectedResource.data" />

      <app-selected-workspace-permissions *ngSwitchCase="'hellodata/Permissions'"
                                          [permissions]="selectedResource.data" />

      <app-selected-workspace-users *ngSwitchCase="'hellodata/Users'"
                                    [users]="selectedResource.data" />

      <app-selected-workspace-pipelines *ngSwitchCase="'hellodata/Pipelines'"
                                        [instanceName]="selectedResource.instanceName"
                                        [pipelines]="selectedResource.data" />
    </p-fieldset>

    <div *ngSwitchDefault>
      component missing for: {{ selectedResource.kind }}
    </div>
  </div>
</div>
