<div class="card">
  @if ((editedAnnouncement$ | async); as editedAnnouncement) {
    <form [formGroup]="announcementForm">
      <h5>{{ '@Announcement' | transloco }}</h5>
      @if (editedAnnouncement.createdDate) {
        <div class="field grid grid-cols-12 gap-4 mb-1">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0"
                 for="createdDate">{{ '@Created date' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="opacity-40 text-base text-color bg-surface-0  p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              disabled
              id="createdDate"
              type="text"
              value="{{editedAnnouncement.createdDate | date: 'dd.MM.yyyy HH:mm:ss'}}">
          </div>
        </div>
      }
      @if (editedAnnouncement.createdDate) {
        <div class="field grid grid-cols-12 gap-4 mb-1">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="createdBy">{{ '@Created by' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="opacity-40 text-base text-color bg-surface-0  p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              disabled
              id="createdBy"
              type="text"
              value="{{editedAnnouncement.createdBy}}">
          </div>
        </div>
      }
      @if (editedAnnouncement.modifiedDate) {
        <div class="field grid grid-cols-12 gap-4 mb-1">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0"
                 for="modifiedDate">{{ '@Modified date' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="opacity-40 text-base text-color bg-surface-0  p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              disabled
              id="modifiedDate"
              type="text"
              value="{{editedAnnouncement.modifiedDate | date: 'dd.MM.yyyy HH:mm:ss'}}">
          </div>
        </div>
      }
      @if (editedAnnouncement.modifiedBy) {
        <div class="field grid grid-cols-12 gap-4 mb-1">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="createdBy">{{ '@Modified by' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="text-base text-color bg-surface-0  p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full opacity-40"
              disabled
              id="modifiedBy"
              type="text"
              value="{{editedAnnouncement.modifiedBy}}">
          </div>
        </div>
      }
      <div class="field grid grid-cols-12 gap-4 mb-2">
        <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="published">{{ '@Published' | transloco }}</label>
        <div class="col-span-12 md:col-span-10">
          <p-checkbox [binary]="true" formControlName="published" id="published" inputId="published"/>
        </div>
      </div>
      @if (editedAnnouncement.publishedDate) {
        <div class="field grid grid-cols-12 gap-4">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0"
                 for="publishedDate">{{ '@Published date' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="text-base text-color bg-surface-0  p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full opacity-40"
              disabled
              id="publishedDate"
              type="text"
              value="{{editedAnnouncement.publishedDate | date: 'dd.MM.yyyy HH:mm:ss'}}">
          </div>
        </div>
      }
      @if ((supportedLanguages$ | async); as supportedLanguages) {
        <p-tabs [value]="0">
          <p-tablist>
            @for (language of supportedLanguages; track $index) {
              <p-tab [value]="$index">
                <div class="flex items-center gap-2">
                  <span class="font-bold whitespace-nowrap m-0 {{notFilled(language) ? 'not-filled' : ''}}">
                    {{ language.slice(0, 2).toUpperCase() }}
                  </span>
                </div>
              </p-tab>
            }
          </p-tablist>
          <p-tabpanels>
            @for (language of supportedLanguages; track $index) {
              <p-tabpanel [value]="$index">
                <div class="field grid grid-cols-12 gap-4">
                  <div class="col-span-12 md:col-span-12">
                    <p-editor [formControl]="getMessage(language)" [style]="{ width: '100%' }"/>
                  </div>
                </div>
              </p-tabpanel>
            }
          </p-tabpanels>
        </p-tabs>
      }
      <p-toolbar>
        <div class="p-toolbar-group-start">
          <p-button (click)="navigateToAnnouncementList()" [pTooltip]="'@Cancel' | transloco" class="mr-2"
                    icon="fas fa-arrow-left" severity="secondary" pRipple pButton
                    (keydown)="navigateToAnnouncementList()"/>
        </div>
        @if ((defaultLanguage$ | async); as defaultLanguage) {
          <div class="p-toolbar-group-end">
            <p-button (click)="saveAnnouncement(editedAnnouncement)" (keydown)="saveAnnouncement(editedAnnouncement)"
                      [disabled]="!isAtLeastDefaultLanguageFilled(defaultLanguage)"
                      icon="fas fa-floppy-disk" class="mr-2"
                      label="{{'@Save' | transloco}}"
                      severity="success" pRipple pButton/>
            @if (editedAnnouncement.id) {
              <p-button (click)="openDeletePopup(editedAnnouncement)" (keydown)="openDeletePopup(editedAnnouncement)"
                        icon="fas fa-trash" class="mr-2"
                        label="{{'@Delete' | transloco}}"
                        severity="danger" pRipple pButton/>
            }
          </div>
        }
      </p-toolbar>
    </form>
  }
</div>

<app-delete-announcement-popup [action]="getDeletionAction()"/>
