<div class="card">
  @if ((editedDashboardGroup$ | async); as editedDashboardGroup) {
    <form [formGroup]="dashboardGroupForm">
      <h5>{{ '@Dashboard group' | transloco }}</h5>
      @if (editedDashboardGroup.createdDate) {
        <div class="field grid grid-cols-12 gap-4 mb-1">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0"
                 for="createdDate">{{ '@Created date' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="opacity-40 text-base text-color bg-surface-0 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              disabled
              id="createdDate"
              type="text"
              value="{{editedDashboardGroup.createdDate | date: 'dd.MM.yyyy HH:mm:ss'}}">
          </div>
        </div>
      }
      @if (editedDashboardGroup.createdBy) {
        <div class="field grid grid-cols-12 gap-4 mb-1">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="createdBy">{{ '@Created by' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="opacity-40 text-base text-color bg-surface-0 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              disabled
              id="createdBy"
              type="text"
              value="{{editedDashboardGroup.createdBy}}">
          </div>
        </div>
      }
      @if (editedDashboardGroup.modifiedDate) {
        <div class="field grid grid-cols-12 gap-4 mb-1">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0"
                 for="modifiedDate">{{ '@Modified date' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="opacity-40 text-base text-color bg-surface-0 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              disabled
              id="modifiedDate"
              type="text"
              value="{{editedDashboardGroup.modifiedDate | date: 'dd.MM.yyyy HH:mm:ss'}}">
          </div>
        </div>
      }
      @if (editedDashboardGroup.modifiedBy) {
        <div class="field grid grid-cols-12 gap-4 mb-1">
          <label class="col-span-12 mb-2 md:col-span-2 md:mb-0"
                 for="modifiedBy">{{ '@Modified by' | transloco }}</label>
          <div class="col-span-12 md:col-span-10">
            <input
              class="opacity-40 text-base text-color bg-surface-0 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
              disabled
              id="modifiedBy"
              type="text"
              value="{{editedDashboardGroup.modifiedBy}}">
          </div>
        </div>
      }
      <div class="field grid grid-cols-12 gap-4 mb-2">
        <label class="col-span-12 mb-2 md:col-span-2 md:mb-0" for="name">{{ '@Group name' | transloco }}</label>
        <div class="col-span-12 md:col-span-10">
          <input
            class="text-base text-color bg-surface-0 p-2 border border-solid border-surface rounded-border appearance-none outline-0 focus:border-primary w-full"
            formControlName="name"
            id="name"
            pInputText
            type="text">
          @if (!dashboardGroupForm.controls['name'].valid && dashboardGroupForm.controls['name'].dirty) {
            <small class="p-error">{{ '@Group name is invalid' | transloco }}</small>
          }
        </div>
      </div>

      <p-divider/>

      <h5>{{ '@Dashboard entries' | transloco }}</h5>

      @if ((dataDomains$ | async); as dataDomains) {
        <div>
          <div class="field grid grid-cols-12 gap-4">
            <div class="col-span-12 mb-2 md:col-span-2 md:mb-0 font-medium text-lg">{{ '@Data Domain' | transloco }}
            </div>
            <div class="col-span-12 mb-2 md:col-span-2 md:mb-0 font-medium text-lg">{{ '@Domain Type' | transloco }}
            </div>
            <div class="col-span-12 mb-2 md:col-span-8 md:mb-0 font-medium text-lg">{{ '@Dashboards' | transloco }}
            </div>
          </div>
          <br>
          <div class="col-span-12 md:col-span-12">
            @for (dataDomain of dataDomains; track dataDomain.contextKey) {
              <div>
                <div class="field grid grid-cols-12 gap-4">
                  <span class="col-span-12 mb-2 md:col-span-2 md:mb-0">{{ dataDomain.name }}</span>
                  <span
                    class="col-span-12 mb-2 md:col-span-2 md:mb-0">{{ dataDomain.extra ? 'Extra' : 'Standard' }}</span>
                  <div class="col-span-12 md:col-span-8">
                    <app-dashboard-group-selector
                      [contextKey]="dataDomain.contextKey!"
                      [preselectedEntries]="getPreselectedEntriesForDomain(dataDomain.contextKey!)"
                      (selectedDashboardsEvent)="onDashboardsSelected(dataDomain.contextKey!, $event, editedDashboardGroup)"/>
                  </div>
                </div>
                <p-divider/>
              </div>
            }
          </div>
        </div>
      }

      <p-toolbar class="mt-4">
        <div class="p-toolbar-group-start">
          <p-button (click)="navigateToList()" [pTooltip]="'@Cancel' | transloco" class="mr-2"
                    icon="fas fa-arrow-left" severity="secondary" pRipple
                    (keydown.enter)="navigateToList()"/>
        </div>
        <div class="p-toolbar-group-end">
          <p-button (click)="saveDashboardGroup(editedDashboardGroup)"
                    (keydown.enter)="saveDashboardGroup(editedDashboardGroup)"
                    [disabled]="!dashboardGroupForm.valid"
                    icon="fas fa-floppy-disk" class="mr-2"
                    [label]="'@Save' | transloco"
                    severity="success" pRipple/>
          @if (editedDashboardGroup.id) {
            <p-button (click)="openDeletePopup(editedDashboardGroup)"
                      (keydown.enter)="openDeletePopup(editedDashboardGroup)"
                      icon="fas fa-trash" class="mr-2"
                      [label]="'@Delete' | transloco"
                      severity="danger" pRipple/>
          }
        </div>
      </p-toolbar>
    </form>
  }
</div>

<app-delete-dashboard-group-popup [action]="getDeletionAction()"/>
