@if (announcementToBeDeleted$ | async) {
  <div></div>
}
<p-confirmDialog #cd [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <h3>{{ '@Delete announcement' | transloco }}</h3>
  </ng-template>
  <ng-template pTemplate="body">
    <span class="ui-confirmdialog-message">{{ "@Delete announcement question" | transloco }}</span>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button (click)="cd.onReject()" icon="fas fa-circle-xmark" label="{{'@Cancel' | transloco}}"
              type="button" severity="secondary" pRipple pButton/>
    <p-button (click)="cd.onAccept()" severity="danger" icon="fas fa-trash"
              label="{{'@Delete' | transloco}}"
              type="button" pRipple pButton/>
  </ng-template>
</p-confirmDialog>
