@if ((defaultLanguage$ | async); as defaultLanguage) {
  @if ((selectedLanguage$ | async); as selectedLanguage) {
    @if ((faq$ | async); as faq) {
      <p-accordion value="0">
        @for (item of faq; track item.contextKey) {
          @for (domainFaq of item.faqs; track $index) {
            <p-accordion-panel [value]="item.contextKey + '_' + $index">
              <p-accordion-header>
                <span matomoCategory="FAQ"
                      matomoAction="[Click] - Open FAQ question"
                      [matomoTracker]="['click']">
                  {{ getTitle(domainFaq, selectedLanguage.code, defaultLanguage) }}
                  <i class="fa fa-globe faq-domain-icon"
                     [pTooltip]="item.contextKey === 'ALL_DATA_DOMAINS' ? ('@All Data Domains' | transloco) : item.contextName"
                     tooltipPosition="top"></i>
                </span>
              </p-accordion-header>
              <p-accordion-content>
                <div class="faq-message-content"
                     [innerHTML]="getMessage(domainFaq, selectedLanguage.code, defaultLanguage)">
                </div>
              </p-accordion-content>
            </p-accordion-panel>
          }
        }
      </p-accordion>
    }
  }
}
