<h2 class="content-block">{{ '@Portal roles management' | transloco }}</h2>
<div class="card">
  @if ((roles$ | async); as roles) {
    <div>
      <p-table
        #dt
        [paginator]="false"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '75rem' }"
        [value]="roles"
        dataKey="id"
        class="p-datatable-striped"
        >
        <ng-template pTemplate="header">
          <tr>
            <th id="name">
              {{ '@Name' | transloco }}
            </th>
            <th id="description">
              {{ '@Description' | transloco }}
            </th>
            <th id="permissions" style="min-width:20rem">
              {{ '@Permissions' | transloco }}
            </th>
            <th id="actions" style="min-width:8rem"></th>
          </tr>
        </ng-template>
        <ng-template let-role pTemplate="body">
          <tr>
            <td>{{ role.name }}</td>
            <td>{{ role.description }}</td>
            <td>
              @for (permission of role.permissions; track permission) {
                <span style="margin: 2px">
                  <p-tag severity="warn" value="{{permission}}"></p-tag>
                </span>
              }
            </td>
            <td>
              @if (!role.systemDefault) {
                <p-button (click)="editRole(role)"
                  [pTooltip]="'@Edit' | transloco"
                  severity="success"
                  class="p-button-rounded"
                  icon="fas fa-light fa-pen-to-square"
                  pButton
                pRipple></p-button>
              }
              @if (!role.systemDefault) {
                <p-button (click)="showRoleDeletionPopup(role)"
                  [pTooltip]="'@Delete' | transloco"
                  severity="danger"
                  class="p-button-rounded"
                  icon="fas fa-trash"
                  pButton
                pRipple></p-button>
              }
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }
</div>

<app-delete-role-popup [action]="getDeletionAction()"></app-delete-role-popup>
