<div class="comments-container">

  <div class="comments-header">
    <h4 class="text-center">{{ '@Comments' | transloco }}</h4>
  </div>

  <div class="comment-scrollpanel">
    @if (comments?.length) {
      <p-scroller #scroller
                  [items]="comments"
                  [itemSize]="50"
                  scrollHeight="100%"
                  styleClass="border-1 surface-border"
                  [style]="{ height: '100%' }"
                  class="w-full h-full px-2 py-2 space-y-2">
        <ng-template pTemplate="item" let-comment let-options="options">
          <div class="border rounded-md bg-white px-2 py-2 space-y-2">
            <p class="comment-text p-1">
              {{ comment.text }}
            </p>
            <small class="comment-meta p-1">
              {{ comment.author }} – {{ comment.date | date:'short' }}
            </small>
          </div>
        </ng-template>
      </p-scroller>
    } @else {
      <div class="h-full flex items-center justify-center text-gray-400">
        No comments.
      </div>
    }
  </div>

  <div class="comment-form">
      <textarea
        class="w-full border rounded-md"
        [(ngModel)]="newCommentText"
        placeholder="{{ '@Write a comment' | transloco }}"
        rows="3">
      </textarea>

    <p-button severity="success" pRipple pButton
              label="{{ '@Submit' | transloco }}"
              class="mt-2 w-full"
              (click)="submitComment()"
              (keydown)="submitComment()"
              [disabled]="!newCommentText?.trim()">
    </p-button>
  </div>

</div>
