<div class="comments-container">

  <div class="comments-header">
    <h4 class="text-center">{{ '@Comments' | transloco }}</h4>
  </div>

  <div class="comment-scrollpanel" #scrollContainer>
    @if (comments?.length) {
      <div class="comments-list">
        @for (comment of comments; track comment.createdDate) {
          <app-comment-entry [comment]="comment"></app-comment-entry>
        }
      </div>
    } @else {
      <div class="h-full flex items-center justify-center text-gray-400">
        No comments.
      </div>
    }
  </div>

  <div class="comment-form">
      <textarea
        class="w-full border rounded-md"
        [(ngModel)]="newCommentText"
        placeholder="{{ '@Write a comment' | transloco }}"
        rows="3">
      </textarea>

    <p-button severity="success" pRipple pButton
              label="{{ '@Submit' | transloco }}"
              class="mt-2 w-full"
              (click)="submitComment()"
              (keydown)="submitComment()"
              [disabled]="!newCommentText?.trim()">
    </p-button>
  </div>

</div>
