<h2 class="content-block">{{ '@Announcements management' | transloco }}</h2>
@if ((selectedLanguage$ | async); as selectedLanguage) {
  <p-card>
    <p-toolbar class="mb-6 gap-2">
      <ng-template pTemplate="left">
        <p-button (click)="createAnnouncement()" severity="success" icon="fas fa-circle-plus"
                  [label]="'@Create announcement' | transloco" pRipple
                  (keydown.enter)="createAnnouncement()"></p-button>
      </ng-template>
    </p-toolbar>
    @if ((allAnnouncements$ | async); as announcements) {
      <div>
        @if (announcements.length > 0) {
          <p-table
            #dt
            [paginator]="true"
            [rows]="10"
            [rowHover]="true"
            [stripedRows]="true"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            [value]="announcements"
            dataKey="id"
            [expandedRowKeys]="expandedRows"
          >
            <ng-template pTemplate="header">
              <tr>
                <th id="publishedHeader" scope="col" style="width: 3rem">&nbsp;</th>
                <th id="messagePreviewHeader" scope="col">
                  {{ '@Message' | transloco }}
                </th>
                <th id="createdDateHeader" scope="col">
                  {{ '@Created date' | transloco }}
                </th>
                <th id="publishedDateHeader" scope="col">
                  {{ '@Published date' | transloco }}
                </th>
                <th id="actionHeader" scope="col" style="width: 10rem"></th>
              </tr>
            </ng-template>
            <ng-template let-announcement pTemplate="body" let-expanded="expanded">
              <tr>
                <td>
                  @if (announcement.published) {
                    <i class="fa-solid fa-circle" style="color: #008000;"
                       [pTooltip]="'@Announcement published' | transloco"></i>
                  } @else {
                    <i class="fa-solid fa-circle" style="color: #ff0000;"
                       [pTooltip]="'@Announcement unpublished' | transloco"></i>
                  }
                </td>
                <td>
                  <div class="announcement-message-preview"
                       [innerHTML]="getMessage(announcement, selectedLanguage)"></div>
                </td>
                <td>
                  {{ announcement.createdDate | date: 'dd.MM.yyyy HH:mm:ss' }}
                </td>
                <td>
                  {{ announcement.publishedDate ? (announcement.publishedDate | date: 'dd.MM.yyyy HH:mm:ss') : '-' }}
                </td>
                <td>
                  <p-button (click)="editAnnouncement(announcement)" (keydown.enter)="editAnnouncement(announcement)"
                            [pTooltip]="'@Edit' | transloco"
                            tooltipPosition="top"
                            severity="success"
                            [rounded]="true"
                            [text]="true"
                            class="mr-2"
                            icon="fas fa-light fa-pen-to-square"/>
                  <p-button (click)="showAnnouncementDeletionPopup(announcement)"
                            (keydown.enter)="showAnnouncementDeletionPopup(announcement)"
                            [pTooltip]="'@Delete' | transloco"
                            tooltipPosition="top"
                            severity="danger"
                            [rounded]="true"
                            [text]="true"
                            class="mr-2"
                            icon="fas fa-trash"/>
                  <p-button type="button" pRipple [pRowToggler]="announcement"
                            [text]="true" [rounded]="true" [plain]="true"
                            [pTooltip]="'@Details' | transloco"
                            tooltipPosition="top"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
                </td>
              </tr>
            </ng-template>
            <ng-template let-announcement pTemplate="expandedrow">
              <tr>
                <td [attr.colspan]="5">
                  <div class="p-3">
                    <table class="announcement-translations-table">
                      <thead>
                      <tr>
                        <th scope="col" style="width: 8%">{{ '@Language' | transloco }}</th>
                        <th scope="col">{{ '@Message' | transloco }}</th>
                      </tr>
                      </thead>
                      <tbody>
                        @for (translation of getTranslations(announcement); track translation.locale) {
                          <tr>
                            <td><strong>{{ translation.displayLocale }}</strong></td>
                            <td>
                              <div class="announcement-message-content" [innerHTML]="translation.message"></div>
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">{{ '@No announcements found' | transloco }}</td>
              </tr>
            </ng-template>
          </p-table>
        }
      </div>
    }
  </p-card>
}
<br/>
<app-delete-announcement-popup [action]="getDeletionAction()"/>
