
<footer class="container-fluid">
  <div class="card grid m-0">
    <div class="col-8 text-left text-sm">
      <img alt="HelloDATA Logo" class="mr-3" routerLink="/home" src="/assets/img/hellodata-logo.png" style="max-height: 2em; vertical-align: middle"/>
      <span><a routerLink="/home">HelloData</a></span><span>{{ ' | '}}</span>
      <span><a href="{{openSourceDataPlatformUrl}}" rel="noopener" target="_blank">OpenSource Data Platform</a></span><span>{{ ' | '}}</span>
      <span>{{appInfo.currentYear}}</span><span>{{ ' | '}}</span>
      <span><a href="{{licenseUrl}}" rel="noopener" target="_blank">License</a></span><span>{{ ' | '}}</span>
      <span><a href="{{githubUrl}}" rel="noopener" target="_blank">GitHub</a></span><span>{{ ' | '}}</span>
      <span><a href="{{versionLink}}" rel="noopener" target="_blank">{{ '@Version' | transloco}}:{{' '}}{{appInfo.buildInfo}}</a></span>
    </div>
    <div class="col-4 text-right text-sm">
      Contact | Website | Vote!
    </div>
  </div>
</footer>
