<p-table
  #dt
  *ngIf="dashboards.length > 0"
  [paginator]="false"
  [rowHover]="true"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '75rem' }"
  [value]="dashboards"
  dataKey="id"
  class="p-datatable-striped"
>
  <ng-template pTemplate="header">
    <tr>
      <th id="dashboard">
        {{ '@Dashboard' | transloco }}
      </th>
      <th id="status">
        {{ '@Status' | transloco }}
      </th>
      <th id="slug">
        {{ '@Slug' | transloco }}
      </th>
      <th id="owners">
        {{ '@Owners' | transloco }}
      </th>
      <th id="roles">
        {{ '@Roles' | transloco }}
      </th>
    </tr>
  </ng-template>
  <ng-template let-dashboard pTemplate="body">
    <tr>
      <td>
        <a [href]="createLink(dashboard) | async" rel="noopener" target="_blank">{{ dashboard.dashboard_title }}</a>
      </td>
      <td>
        {{ dashboard.status }}
      </td>
      <td>
        {{ dashboard.slug }}
      </td>
      <td>
        <p-tag *ngFor="let owner of dashboard.owners" icon="fas fa-user" value="{{owner.email}}"></p-tag>
      </td>
      <td>
        <p-tag *ngFor="let role of dashboard.roles" icon="fas fa-tag" severity="info" value="{{role.name}}"></p-tag>
      </td>
    </tr>
  </ng-template>
</p-table>
